.mypage_wrap {
   padding-top: 50px;
   gap: 30px;
}

.mypage_wrap > .title h3 {
   font-size: 35px;
   color: #fff;
   font-weight: 600;
}


.box_frame {
   background: #222;
   border: 1px solid #7d7d7d7d;
   border-radius: 10px;
   padding: 25px 20px 20px;
   max-width: 970px;
}

.box_frame .NolayerBox {
   min-height: 150px;
   justify-content: center;
}

/* 왼쪽메뉴 */

.left_bar {
   width: 300px;
   min-width: 300px;
   max-width: 300px;
   flex: unset;
   height: auto;
   position: sticky; 
   top: 130px;
}


/* 프로필 */
.profile {gap: 35px;}

.profile .thumbnail {
   border-radius: 50%;
   overflow: hidden;
   justify-content: center;
}

.profile .profile_name {
   font-size: 20px; color: #fff;
   font-weight: 600;
   gap: 10px;
}

.profile .link_btn {
   width: 100%;
   max-width: 270px;
}

.profile .link_btn button {
   width: 100%;
   border-radius: 5px;
   background: var(--main-color2);
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   padding: 15px 5px;
   border: none;
}



/* 마이페이지 네비 */

.mypage_navi {gap: 25px;}
.mypage_navi .outer_menu {gap: 15px; align-items: start !important;}
.mypage_navi .outer_menu > p {
   font-size: 20px !important; font-weight: 600 !important;
   color: #fff !important;
}

.outer_menu .inner_menu {
   padding: 20px 20px;
   width: 100%; background: #2A2A2A;
   border-radius: 15px;
   display: flex; flex-direction: column;
   gap: 30px;
}

.outer_menu .inner_menu .inner_btn {
   width: 100%; display: flex;
   justify-content: space-between;
   gap: 15px;
}

.outer_menu .inner_menu .inner_btn span {
   font-size: 16px; color: #797979;
   transition: all 0.2s;
}

.outer_menu .inner_menu .inner_btn:hover span,
.outer_menu .inner_menu .inner_btn.active span {color: #fff;}

.mypage_navi .outer_menu .inner_menu .inner_btn img {
   position: relative;
   transform: rotate(180deg);
   left: 0;
   transition: all 0.1s;
}

.mypage_navi .outer_menu .inner_menu .inner_btn:hover img {left: 3px;}




/* 오른쪽 */

.right_bar {
   gap: 25px;
   max-width: 970px;
}

.box_frame .box_header {
   border-bottom: 1px solid #6B6B6B;
   padding-bottom: 15px;
   font-size: 25px; 
   font-weight: 600;
   color: #fff;
   gap: 20px;
   align-items: end !important;
}

.box_frame .box_header .header_subTitle {
   font-size: 16px; color: #fff;
   font-weight: 400; width: auto;
}

.delivery_box {gap: 35px;}

.delivery_box .deli_itemBox {
   gap: 50px; align-items: end !important;
   width: fit-content;
}
.delivery_box .deli_itemBox .deli_item {
   gap: 10px; width: auto;
}
.delivery_box .deli_itemBox .deli_item p {
   font-size: 35px !important;
   font-weight: 600 !important;
   color: #fff !important; 
}
.delivery_box .deli_itemBox .deli_item > span {
   color: #797979 !important;
   font-size: 16px !important;
   font-weight: 600 !important;
   white-space: nowrap;
}

.link_btn {
   width: 100%;
   max-width: 280px;
   margin: 0 auto;
}

.link_btn button {
   background: #111;
   border: 1px solid #ababab;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 600;
   padding: 15px 5px;
   width: 100%;
}
