.wrapper {
  padding: 31px 17px;
  position: relative;
}

.button {
  width: 100%;
  padding: 12.5px;
  font-size: 18px;
  font-weight: 600;
  background-color: #ff6a00;
}
.button:disabled {
  background-color: #d9d9d9;
}
.button.white {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  color: #474747;
  font-weight: 600;
  font-size: 18px;
}
.button.reverse {
  border: 1px solid #ff6a00;
  color: #ff6a00;
  background-color: #fff;
}
.title2 {
  font-weight: 600;
  font-size: 22px;
  color: #1c1b1f;
}

.mailWrapper {
  padding: 16px;
  background-color: #f8f8f8;
}
.mailLabel {
  font-weight: 600;
  font-size: 14px;
  color: #8b8b8b;
}
.mailValue {
  font-weight: 600;
  font-size: 16px;
  color: #474747;
}

.inputRequire {
  font-weight: 600;
  font-size: 14px;
  color: #ff6a00;
}

.inputError {
  font-weight: 500;
  font-size: 13px;
  color: #ea4335;
}

.inputLabel {
  font-weight: 600;
  font-size: 14px;
  color: #1c1b1f;
}
.input {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 15px 12px;
  font-weight: 500;
  font-size: 15px;
}

.input:focus {
  border-color: #ff6a00;
}
.resend {
  position: absolute;
  top: 18px;
  right: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #474747;
  text-decoration-line: underline;
}

.title {
  font-weight: 800;
  font-size: 24px;
  color: #1c1b1f;
}
.completeDescription {
  font-weight: 500;
  font-size: 15px;
  color: #474747;
}
