
.wrapper {
  --subsribe-color: #3fa0ff;
  position: relative;
}

.wrapper * {line-height: 1.3;}

.payment_list {gap: 10px;}

.payment_list .item {
  gap: 15px; 
  border-radius: 5px;
  background: #050505;
  padding: 10px;
}

.payment_list .item .date {
  color: #aeaeae !important;
  font-size: 14px !important;
}

.payment_list .item .title {
  color: #fff !important;
  font-size: 16px !important;
}

.payment_list .item .price_box {
  border-top: 1px solid #333;
  padding-top: 5px;
  margin-top: 10px;
}

.payment_list .item .price {
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 600;
}