.card {
  position: relative;
  width: 260px;
  max-width: 260px;
  min-width: 260px;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  background-color: #221f22;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.previewBox {
  position: relative;
  height: 340px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px 20px 0px 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.previewBox:hover .overlay {
  opacity: 1;
}

/* Center Button */
.hoverButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.previewBox:hover .hoverButton {
  opacity: 1;
  pointer-events: auto;
}
.preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: white;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.info {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  background: #383838;
  color: #fff;
  padding: 18px 12px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  backdrop-filter: blur(6px);
  transition: background 0.25s ease;
}

.card:hover .info {
  background: var(--main-color2);
}

.title {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0;
  line-height: 1.4;

  /* 말줄임 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.createBtn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 6px;
  padding: 7px 18px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.createBtn:hover {
  background: #fff;
  color: var(--main-color1);
  transform: translateY(-1px);
}

.badgeWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
}

.badge {
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.badge.active {
  background-color: #007bff;
}
.badge.ready {
  background-color: #f39c12;
}
.badge.confirm {
  background-color: #27ae60;
}
.badge.complete {
  background-color: #6c757d;
}

.badge.deleted {
  background: #f44336;
  color: #fff;
}
