.prodcut_item {
   padding-bottom: 40px;
   gap: 15px;
}

.prodcut_item .imgBox {
   position: relative;
   cursor: pointer;
   overflow: hidden;
   width: 100%;
   border-radius: 10px;
}

.prodcut_item .imgBox .rank {
   position: absolute;
   top: 7px; left: 7px;
   width: 25px; height: 25px;
   background: #050505;
   color: #fff;
   font-size: 15px;
   z-index: 2;
   align-items: center;
   justify-content: center;
   border-radius: 3px;
}
.prodcut_item .imgBox .topRank {
   background: #E6BE1B;
}
.prodcut_item .imgBox .rank span {position: relative; top: 2px;}

.prodcut_item .imgBox img {
   transition: all 0.5s;
   will-change: transform;
   border-radius: 10px;
}

.prodcut_item .imgBox .commingSoonImg {
   position: absolute; top: 0; left: 0;
   z-index: 10;
}

.prodcut_item .imgBox:hover img {
   transform: scale(1.1);
}

.prodcut_item .text_box {
   padding: 0 5px;
}

.prodcut_item .store_name {
   padding: 4px 5px;
   border-radius: 3px;
   background: #3b3b3b;
   width: auto;
   max-width: 85px;
   color: #CECECE;
   font-size: 10px;
   line-height: 1;
}

.prodcut_item .product_title {
   margin: 7px 0 18px;
   font-size: 16px; color: #fff;
   line-height: 1.2; font-weight: 600;
   cursor: pointer;
}

.prodcut_item .content_item {
   gap: 10px;
   align-items: end !important;
}

.prodcut_item .content_item > *{
   width: auto;
}

.prodcut_item .content_item .price_box {
   gap: 5px;
   align-items: start !important;
}

.prodcut_item .content_item .price_box .through_price {
   font-size: 13px; color: rgba(255,255,255, 0.4);
   line-height: 1;
   text-decoration: line-through;
}

.prodcut_item .content_item .price_box .discount_price {
   font-size: 18px; color: var(--main-color1);
   line-height: 1; font-weight: 700;
   word-break: break-all;
}

.prodcut_item .heart_counter {
   align-items: center;
   cursor: pointer;
   gap: 5px;
}

.prodcut_item .heart_counter > span {
   font-size: 14px !important; color: #fff !important;
}


.specialTypeImg {
   position: absolute;
   top: 0; left: 0;
   width: 100%;
}




@media (max-width: 768px) {
   .prodcut_item {
      padding-bottom: 20px;
   }
   .prodcut_item .content_item .price_box .through_price {font-size: 10px;}
   .prodcut_item .content_item .price_box .discount_price {font-size: 16px;}
   
   .prodcut_item .product_title {
      margin: 5px 0 10px;
      font-size: 12px; color: #fff;
      line-height: 1.2; font-weight: 400;
      cursor: pointer;
   }

   .prodcut_item .heart_counter {
      position: absolute; 
      bottom: 10px;
      right: 5px;
      z-index: 10;
      width: auto;
   }

   .prodcut_item .heart_counter > span {
      font-size: 13px !important; color: #fff !important;
      text-shadow: 0 0 10px #050505;
   }

   .prodcut_item .content_item .price_box {
      flex-direction: unset;
      align-items: center !important;
      flex-wrap: wrap;
   }
}