.review_item {
   padding-bottom: 30px;
}

.review_item .imgBox {
   cursor: pointer;
   margin-bottom: 17px;
}

.review_item .imgBox .img {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   width: 100%;
   padding-bottom: 100%;
}

.review_item .text_box {
   padding: 0 5px;
}

.review_item .text_box .content {
   font-size: 15px;
   color: #fff;
   line-height: 1.2;
   padding-bottom: 10px;
   border-bottom: 1px solid #6B6B6B;
   cursor: pointer;
   align-items: start !important;
   min-height: 47px;
}

.review_item .text_box .content:hover {
   text-decoration: underline;
}

.review_item .text_box .title_box {
   padding: 17px 0 0; 
}

.review_item .text_box .title_box > * {
   width: auto;
}

.review_item .text_box .title_box .date {
   color: #898989; font-weight: 600;
   font-size: 13px;
}

.review_item .text_box .title_box .name {
   color: #fff; font-weight: 600;
   font-size: 13px;
}

.review_item .prodcut_data {
   gap: 7px; cursor: pointer; padding: 17px 5px 0;
}

.review_item .prodcut_data .img {
   overflow: hidden;
   border-radius: 2px;
}

.review_item .prodcut_data > * {
   width: auto;
}
.review_item .prodcut_data .info {gap: 5px;}
.review_item .prodcut_data .info .title {
   font-size: 12px; color: #fff;
   font-weight: 600; line-height: 1;
}

.review_item .prodcut_data .info .info_rating {
   font-size: 12px; color: #898989;
   font-weight: 600; line-height: 1;
   gap: 10px;
}

.review_item .prodcut_data .info .info_rating p span {
   color: var(--main-color1) !important;
}


/* 카드가 슬라이드로 불러와졌을 때 */

/* .slide_item {gap: 10px;} */

.slide_item .text_box .content {
   font-size: 13px; min-height: 32px;
}

.slide_item .prodcut_data .info .info_rating {
   text-align: center;
   flex-direction: column;
   align-items: start !important;
   gap: 3px;
}



/* 모바일 리뷰 카드 */

.mob_review_item .text_box .content {
   font-size: 14px;
   color: #fff;
   line-height: 1.2;
   padding-bottom: 12px;
   border-bottom: 1px solid #6B6B6B;
   cursor: pointer;
   align-items: start !important;
}

.mob_review_item .text_box .title_box .date {
   color: #898989; font-weight: 600;
   font-size: 12px;
}

.mob_review_item .text_box .title_box .name {
   color: #fff; font-weight: 600;
   font-size: 12px;
}