.review_item {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   width: 100%;
   margin-bottom: 30px;
   aspect-ratio: 3 / 4.4;
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
}

.review_item .text_box {
   height: 100%;
   padding: 0 10px 15px;
   background: linear-gradient(360deg, #1A1A1A, rgba(26,26,26,0) 20%);
}

.review_item .text_box .content {
   font-size: 16px;
   font-weight: 700;
   color: #f9fbfc ;
   line-height: 1.4;
   cursor: pointer;
}


.review_item .text_box .user_dt > * {width: auto;}

.review_item .text_box .user_dt .date {
   color: #898989; font-weight: 600;
   font-size: 13px;
}

.review_item .text_box .user_dt .name {
   color: #fff; font-weight: 600;
   font-size: 13px;
}

.review_item .prodcut_data {
   gap: 7px; padding: 17px 5px 0;
}

.review_item .prodcut_data .img {
   overflow: hidden;
   border-radius: 2px;
   cursor: pointer;
}

.review_item .prodcut_data > * {
   width: auto;
}
.review_item .prodcut_data .info {gap: 5px;}
.review_item .prodcut_data .info .title {
   font-size: 12px; color: #fff;
   font-weight: 600; line-height: 1;
   cursor: pointer;
}

.review_item .prodcut_data .info .title:hover {
   text-decoration: underline;
}

.review_item .prodcut_data .info .info_rating {
   font-size: 12px; color: #898989;
   font-weight: 600; line-height: 1;
   gap: 10px;
}

.review_item .prodcut_data .info .info_rating p span {
   color: var(--main-color1) !important;
}


/* 카드가 슬라이드로 불러와졌을 때 */

.slide_item {margin-bottom: 0;}

/* .slide_item .text_box .content {
   font-size: 13px; min-height: 32px;
}

.slide_item .prodcut_data .info .info_rating {
   text-align: center;
   flex-direction: column;
   align-items: start !important;
   gap: 3px;
} */



/* 모바일 리뷰 카드 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.mob_review_item .text_box .content {
   font-size: 15px;
   color: #fff;
   line-height: 1.2;
}

.mob_review_item .text_box .user_dt .date {
   color: #c0c6cc; font-weight: 600;
   font-size: 14px;
}

.mob_review_item .text_box .user_dt .name {
   color: #fff; font-weight: 600;
   font-size: 14px;
}