
.header {
   background: #272727;
   padding: 15px 0 0;
   display: flex;
   flex-direction: column;
   position: fixed;
   z-index: 1000;
   width: 100%;
   left: 0;
   top: 0;
}

/* 스크롤 fixed - header 안에 자식에 걸림 */
.fixed {
   position: fixed;
   top: 0;
   background: #1a1a1a;
   border-bottom: 1px solid rgba(255,255,255,0.4);
}

.headerTop {
   position: relative;
   padding: 0 10px 10px;
}


/* 하단 메뉴 */

.Menu_box {
   padding: 5px 10px;
   position: relative;
   overflow-x: auto;
   background: linear-gradient(180deg, #313131, #1E1E20);
}

.Menu_box::-webkit-scrollbar {
  width: 0;  /* 세로 스크롤바 두께 */
  height: 3px; /* 가로 스크롤바 두께 */
  display: none;
}

.Menu_box::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.outerMenu {
   display: flex;
   gap: 25px;
   align-items: center;
}

.outerMenu > li {
   display: flex;
   gap: 5px;
   align-items: center;
   position: relative;
   font-size: 14px;
   color: #fff;
   transition: all 0.2s;
   white-space: nowrap;
   cursor: pointer;
}

.outerMenu > li:hover {
   color: var(--main-color1);
}
