.bottom_navi {
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 1200;
   width: 100%;
}

.bottom_navi .navi_wrap {
   width: 100%;
   max-width: 768px;
   background: #0A0A0A;
   padding: 10px 15px;
}

.bottom_navi .navi_wrap .item {
   gap: 6px;
   position: relative;
}

.bottom_navi .navi_wrap .item .txt {
   color: #c0c6cc;
   font-size: 12px;
   width: auto;
   position: relative;
}

.bottom_navi .navi_wrap .item .txt.active {
   color: var(--main-color1);
}