.detail_thumb_box p img {
   width: 100%;
}

.description_box .description_frame {
   height: 450px;
   overflow: hidden;
   position: relative;
}

.description_box .description_frame::after {
   content: '';
   position: absolute; top: 0; left: 0;
   width: 100%; height: 100%;
   background: linear-gradient(180deg, rgba(115,155,155,0) 50%, #d9d9d9);
   z-index: 1;
}

.description_box .view_more_btn {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
   width: 140px;
   padding: 10px 5px;
   border-radius: 5px;
   background: #050505;
   box-shadow: 0 3px 4px rgba(0,0,0,0.2);
   font-size: 16px;
   color: #fff;
   transition: all 0.15s
}
.description_box .view_more_btn:active {
   background-color: #1f1f1f;
   transform: translateX(-50%) var(--btn-active-translateY) var(--btn-active-scale);
}




/* 버튼 클릭 시 */

.description_box .description_frame.full {height: auto;}
.description_box .description_frame.full::after {display: none;}
.description_box .view_more_btn.hidden {opacity: 0; visibility: hidden;}