.image {
  border: 2px solid var(--admin-color);
}

.head {
  width: 240px;
  padding: 15px;
  font-weight: 600;
  border-right: 1px solid #d0d0d0;
}
.content {
  padding: 15px;
  /* max-width: calc(min(95%, 900px) - 40px - 130px); */
  max-width: calc(100% - 30px);
  /* width: 500px; */
}

.content > div img {
  width: 100%;
}
.content > div {
  display: flex;
  flex-direction: column;
}
.select div {
  color: #111 !important;
}

.title {
  padding-top: 8px;
  font-size: 24px;
  font-weight: 700;
}

.category {
  padding: 6px 12px;
  background-color: red;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
}
