
.inquiry_board {
   gap: 45px;
   padding: 0 10px;
}


/* select 스타일 */
.input_body {
   background: #333333;
   border-color: #707070;
   padding: 12px 15px;
}

.input_holder {
   color: #A9A9A9;
}

/* select 스타일 ------------------------------- */

.inquiry_content .content_textArea {
  height: 150px;
  border-radius: 3px;
  border-color: #d9d9d9;
  background-color: #fff;
  color: #000;
}

.inquiry_content .Private_checkBox {
   display: flex;
   gap: 10px;
   font-size: 15px;
   font-weight: 500;
}
.inquiry_content .Private_checkBox p {
   padding-top: 2px;
}



/* 리스트 */

.toggle_btn {background: none; transition: 0.2s}
.toggle_btn.active {transform: rotate(180deg);}

.inquiry_list {gap: 8px;}

.inquiry_list .list_title {
   gap: 10px;
}

.inquiry_list .list_title {
   font-size: 20px;
   color: #000;
   font-weight: 700;
}

.inquiry_list .list_title span {position: relative; bottom: 2px;}

.inquiry_list .inquiry_item {
   padding-bottom: 15px;
   border-bottom: 1px solid #d2d2d2;
}

.inquiry_item .user_question .item_title {
   padding-bottom: 6px;
}

.inquiry_item .user_question .item_title p {
   font-size: 15px !important; 
   color: #000 !important;
}

.inquiry_item .user_question .data_group {
   gap: 10px;

}

.inquiry_item .user_question .data_group .response_check {
   width: auto; 
   padding: 7px;
   border-radius: 3px;
   border: 1px solid var(--main-color1);
   font-size: 14px;
}

.inquiry_item .user_question .data_group .response_check span {
   color: #555;
}

.inquiry_item .user_question .data_group .item_name {
   color: #000 !important; 
   font-size: 13px !important;
}

.inquiry_item .user_question .data_group .item_date {
   color: #797979 !important; font-size: 13px !important;
}

.inquiry_item .item_content {
   padding: 12px;
   border: 1px solid #d9d9d9;
   border-radius: 3px;
   color: #303030;
   min-height: 140px;
   align-items: start !important;
   line-height: 1.4;
   font-size: 14px !important;
}


/* 관리자 답변 */
.inquiry_item .admin_answer {
   margin-top: 16px;
}

.inquiry_item .admin_answer .item_content {
   border: 1px solid #d9d9d9;
}

.inquiry_item .admin_answer .answer_title {
   font-size: 16px; margin-bottom: 10px;
}