/Front/node_modules
/Front/.pnp
/Front/.pnp.js

# testing
/Front/coverage

# production
/Front/build
/Front/build2
/Front/Build

# misc
/Front/.env
/Front/.env.development
/Front/.env.production
/Front/.DS_Store
/Front/.env.local
/Front/.env.development.local
/Front/.env.test.local
/Front/.env.production.local

/Front/npm-debug.log*
/Front/yarn-debug.log*
/Front/yarn-error.log*

/Front/cert

/Back/.cache/
/Back/dist
/Back/dist2
/Back/Dist
/Back/.env
/Back/.env.development
/Back/.env.production
/Back/.DS_Store
/Back/node_modules
/Back/yarn-error.log

/Back/.idea

/Back/coverage

/Back/!src/**

/Back/tsconfig.tsbuildinfo
/Back/package-lock.json
/Back/medusa-db.sql
/Back/uploads

/Back/run.sh
/Back/*.log
/Back/*-audit.json
/Back/log