
/* pc용 컨테이너 ------------------ */
.page_container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  color: var(--default-color);
}

.root {
  padding-top: 180px;
  min-height: 80dvh;
  padding-bottom: 100px;
  color: var(--default-color);
}
