/* 메인베너 */
.main_banner {
   width: 100%;
   height: auto;
   margin-bottom: 60px;
   position: relative;
}

.main_banner .slideItem {
   width: 83.99% !important;
   max-width: 1600px !important;
   border-radius: 20px;
   overflow: hidden;
}

.main_banner .slideItem .thumbnail {
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   aspect-ratio: 5/2.4375;
}

.main_banner .pagination {
   position: absolute;
   bottom: 30px;
   z-index: 2;
   color: #fff;
   width: 200px;
   left: 50%;
   transform: translateX(-50%);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
   gap: 10px;
}

.main_banner .pagination .bullet {
   width: 100%;
   height: 5px;
   background: #555;
   opacity: 0.5;
   cursor: pointer;
   transition: 0.2s;
}

.main_banner .pagination > .bullet:hover,
.main_banner .pagination .bullet.active {
   background: var(--main-color1);
   opacity: 1;
}

/* 메인베너 end ------------------------ */

.titleBox .title {
   font-size: clamp(45px, calc(100vw * 50 / 1300), 50px);
   font-weight: 700;
   color: #000;
   text-transform: uppercase
}

.titleBox .title small {
   font-size: 0.6em;
}

.linkBtn {
   position: relative;
   color: #434343;
   font-size: 18px;
   font-weight: 600;
   border-radius: 5px;
   transition: all 0.1s;
   padding-bottom: 3px;
}

.linkBtn b {font-size: 1.2em;}

.linkBtn:hover {
   color: var(--main-color1);
}


.sec1 {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px; padding-bottom: 100px;
}

.sec1 > * {
   min-height: clamp(420px, calc(100vw * 488 / 1300), 488px);
}

.sec1 .about_box {
   background: url('/resources/images/main_about_bg.png') no-repeat center center / cover;
   border-radius: 15px;
   /* box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25); */
   padding: 20px 0;
   text-align: center;
}

.sec1 .about_box h4 {
   font-weight: 800;
   font-size: clamp(50px, calc(100VW * 60 / 1300), 60px) !important;
   margin-bottom: 30px;
   color: var(--main-color1);
}

.sec1 .about_box .text_box {gap: 20px; flex: unset;}

.sec1 .about_box .text_box p {
   font-size: clamp(16px, calc(100VW * 20 / 1300), 20px) !important;
   color: #3f3f3f !important;
   line-height: 1.4;
   font-weight: 500 !important;
}

.sec1 .link_group {gap: 10px;}

.sec1 .link_box {display: flex; width: 100%; flex: 1;}

.sec1 .link_item {
   font-size: clamp(7px, calc(100vw * 10 / 1300), 10px);
   border-radius: 20px;
   background: #fff;
   padding: 4em;
   padding-right: 1.4em;
   box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
   overflow: hidden;
   position: relative;
   /* min(140px, calc(100VW * 140 / 500)); */
}

.sec1 .link_item .text_box h4 {
   font-size: clamp(35px, calc(100VW * 40 / 1300), 40px) !important;
   font-weight: 700 !important;
   margin-bottom: 20px;
}

.sec1 .link_item .text_box p {
   font-size: clamp(14px, calc(100VW * 16 / 1300), 16px) !important;
   color: #252525 !important;
   line-height: 1.4;
   font-weight: 500 !important;
   margin-bottom: 15px !important;
}

.sec1 .link_item .text_box .arrow_btn {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 1px solid rgba(0,0,0,0.2) !important;
   width: 35px; height: 35px;
}

.sec1 .link_item .deco_box {
   --size : clamp(210px, calc(100VW * 333 / 1300), 333px);
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   position: absolute;
   right: -90px;
   padding-left: clamp(40px, calc(100VW * 80 / 1300), 80px);
   transition: 0.5s;
}

.sec1 .link_item:hover .deco_box {
   transform: translateX(-10%);
}

.sec1 .link_item.startups .deco_box {
   padding-left: clamp(50px, calc(100VW * 90 / 1300), 90px);
}

.sec1 .link_item .deco_box img {
   position: relative;
   z-index: 2;
   width: clamp(65px, calc(100VW * 124 / 1300), 124px);
}

.sec1 .link_item .deco_box::before {
   content:'';
   position: absolute;
   top: 0; left: 0; 
   width: 100%; height: 100%;
   border-radius: inherit;
   z-index: 1;
   opacity: 0.85;
}

.sec1 .pickup .deco_box {
   background:  url('/resources/images/main_pickup_bg.png') no-repeat right center / cover;
}
.sec1 .pickup .deco_box::before { background: var(--main-color1);}

.sec1 .startups .deco_box {
   background:  url('/resources/images/main_startups_bg.png') no-repeat 70% center / cover;
}
.sec1 .startups .deco_box::before { background: #62D9AF;}

@media (max-width: 500px) {
   .sec1 .about_box .text_box p br {display: none;}
   .sec1 .link_item .text_box p br {display: none;}
}




/* sec2 메인 카테고리 */

.sec2 {padding-bottom: 100px; gap: 30px;}

.sec2 .title {color: var(--main-color1);}

.sec2 .category_box {
   width: 100%; margin-bottom: 30px; 
   display: flex; flex-direction: column;
   gap: 20px;
}

.sec2 .category_list {
   display: grid;
   grid-auto-flow: row dense;
   /* grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); */
   grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
   /* 정해진 부모 너비 안에서 공간 안 남게끔 자식들에게 자동으로 너비 배분 */
   grid-auto-rows: minmax(309px, auto);
   gap: 20px;
   width: 100%;
   justify-items: stretch !important;
}

.sec2 .category_list > * {
   flex: unset !important;
}

.sec2 .category_list .ca_item {
   gap: 10px;
   padding: 20px;
   box-shadow: 3px 2px 10px rgba(0,0,0,0.07);
   border-radius: 10px;
   background: #fff;
   position: relative;
}

.sec2 .category_list .ca_item .text_box {
   gap: 10px; flex: unset !important;
   position: relative; z-index: 2;
}

.sec2 .category_list .ca_item h5 {
   font-size: clamp(18px, calc(100vw * 20 / 1300), 20px);
   color: #000;
   font-weight: 600;
}

.sec2 .category_list .ca_item span {
   font-size: clamp(20px, calc(100vw * 25 / 1300), 25px);
   color: rgba(0,0,0,0.2);
   font-weight: 900;
   text-align: center;
   text-transform: uppercase;
}

.sec2 .category_list .ca_item .link_btn {
   border-radius: 100px;
   border: 1px solid #d2d2d2;
   padding: 9px 17px;
   font-size: 15px;
   font-weight: 600;
   color: #787878;
   position: relative;
   z-index: 2;
   background: #fff;
   transition: 0.2s;
}

.sec2 .category_list .ca_item .link_btn:hover {
   background: #333;
   border-color: #333;
   color: #fff;
}

.sec2 .category_list .ca_item .ca_img {
   width: clamp(170px, calc(100vw * 180 / 1300), 180px);
   height: clamp(130px, calc(100vw * 150 / 1300), 150px);
   position: absolute;
   z-index: 1;
   right: 20px;
   bottom: 45px;
   transition: 0.4s;
}
.sec2 .category_list .ca_item .ca_img img {
   width: auto; height: 100%;
}

.sec2 .category_list > .ca_item:hover .ca_img {
   transform: translateX(-10%);
}


.sec2 .exhibitionBox {
   border-radius: 20px;
   box-shadow: 3px 2px 10px rgba(0,0,0,0.1);
   position: relative;
   overflow: hidden;
   display: block;
   width: 100%;
}

.sec2 .exhibitionBox .itemBox {
   display: flex;
   gap: 20px;
   justify-content: center;
   align-items: center;
   padding: 30px 140px 30px 70px;
   position: relative;
   z-index: 2;
   background: rgba(255,255,255,0.3);
   --webkit-backdrop-filter: blur(7px);
   backdrop-filter: blur(7px);
}
.sec2 .exhibitionBox .itemBox > img {
   width: clamp(190px, calc(100vw * 215 / 1300), 215px); 
}

.sec2 .exhibitionBox .itemBox .text_box .text1 {
   color: var(--main-color1) !important;
   font-size: clamp(15px, calc(100vw * 16 / 1300), 16px) !important;
   font-weight: 600 !important;
   line-height: 1.4;
   margin-bottom: 5px !important;
}

.sec2 .exhibitionBox .itemBox .text_box h3 {
   font-size: clamp(35px, calc(100vw * 40 / 1300), 40px);
   font-weight: 700;
   line-height: 1.2;
   margin-bottom: 20px;
}

.sec2 .exhibitionBox .itemBox .text_box .eng_txt {
   font-size: clamp(20px, calc(100vw * 25 / 1300), 25px) !important;
   font-weight: 900;
   color: rgba(0,0,0,0.2);
   text-transform: uppercase;
   padding-bottom: 5px;
}

.sec2 .exhibitionBox .itemBox .text_box .text2 {
   font-size: clamp(18px, calc(100vw * 20 / 1300), 20px) !important;
   line-height: 1.4;
   color: #3D3D3D;
   margin-bottom: 10px !important;
}

.sec2 .exhibitionBox .bg_layer {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%; height: 100%;
   z-index: 1;
}

.sec2 .exhibitionBox .bg_layer > img {
   position: absolute;
   width: clamp(200px, calc(100vw * 220 / 1300), 220px); 
   opacity: 0.2;
   will-change: transform;
}

.sec2 .exhibitionBox .bg_layer > img:first-child {
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* rotate(25deg) */
   animation: shape_rotate 10s infinite linear;
}

.sec2 .exhibitionBox .bg_layer > img:nth-child(2) {
   bottom: -87%;
   left: 3%;
   transform: translate(-50%, -50%);
   /* rotate(61deg) */
   animation: shape_rotate 10s infinite linear;
}

.sec2 .exhibitionBox .bg_layer > img:last-child {
   bottom: -90%;
   right: -16%;
   transform: translate(-50%, -50%);
   /* rotate(30deg) */
   animation: shape_rotate 10s infinite linear;
}

@keyframes shape_rotate {
   from {transform: translate(-50%, -50%) rotate(0deg);}
   to {transform: translate(-50%, -50%) rotate(360deg);}
}



/* 메인 카테고리 end --------------------------*/



.sec3 {gap: 25px; padding-bottom: 100px;}

.sec3 .titleBox .title {color: var(--main-color1);}

/* 랭크 아이콘 */
.sec3 .card_wrap {position: relative;}
.sec3 .card_wrap .rank {
   position: absolute;
   top: 10px; left: 10px;
   width: 25px; height: 25px;
   background: var(--main-color1);
   color: #fff !important;
   font-size: 16px;
   font-weight: 700 !important;
   z-index: 2;
   align-items: center;
   justify-content: center;
   border-radius: 6px;
   padding-top: 2px;
}

/* 프로덕트슬라이더 */
.ProductSlider {position: relative; width: 100%; overflow: hidden;}

.pagination {gap: 2px;}
.pagination .naviBtn {
   width: 45px; height: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.2s;
   border: 1px solid #686868;
}

.pagination .nextBtn > img {transform: rotate(180deg);}
.pagination .naviBtn > img {filter: brightness(0.4);}
.pagination .naviBtn:hover {background: #000;}
.pagination .nextBtn:hover > img  {filter: brightness(1);}

.pagination :global(.swiper-button-disabled) {
   display: flex !important;
   opacity: 0.5;
}


.sec4 {
   padding: 110px 0 132px;
   /* padding-left: calc(100vw * (1920 - 1274) / 1920 / 2); */
   background: #F8F8F8;
}

.sec4 .titleBox {
   padding-right: 120px;
}

/* .sec4 .slide_item {
   max-width: 300px !important;
} */


.sec5 {
   padding: 120px 0 140px;
   /* padding-left: calc(100vw * (1920 - 1274) / 1920 / 2); */
   background: url('/resources/images/main_event_bg.png') no-repeat center / cover;
}

/* .sec5 .slide_item {
   max-width: 410px !important;
} */

.sec5 .titleBox {
   padding-right: 50px;
}


/* .sec4 .item_wrap {width: 100%; max-width: 83.33%; margin-left: auto;} */
.freeSlide {overflow: hidden;}
.freeSlide .item_wrap {width: 100%;}
/* .freeSlide .ProductSlider {min-width: 1290px;} */

.freeSlide .titleBox {
   min-width: 310px;
}

.freeSlide .titleBox .text1 {
   font-size: 20px !important; font-weight: 500 !important;
   color: #000; line-height: 1.4;
   margin-bottom: 10px !important;
}

@media (min-width: 1301px) {
   .freeSlide .ProductSlider {min-width: 100%;}
   /* .freeSlide .ProductSlider {min-width: 67.72vw; max-width: 1800px;} */
   .freeSlide .item_wrap {max-width: 1274px; margin: 0 auto;}
}

@media (max-width: 1300px) {
   .freeSlide {padding-left: 13px;}
}