.banner {
   width: 100%;
   height: auto;
   margin-top: 20px;
}

.banner .slideItem {
   width: 100%;
   padding-bottom: 450px;
   background-repeat: no-repeat;
   background-size: cover;
   /* background-position: center bottom; */
}