/* 메인베너 */
.main_banner {
   width: 100%;
   height: auto;
   margin-top: 20px;
}

.main_banner .slideItem {
   width: 100%;
   padding-bottom: 450px;
   background-repeat: no-repeat;
   background-size: cover;
   /* background-position: center bottom; */
}

/* 메인베너 end ------------------------ */



.category_sec {gap: 25px;}
.category_sec .ca_title {
   text-align: center;
   gap: 10px;
   font-size: 30px;
   color: #fff;
}

/* 메인 카테고리 */
.category_wrap {
   display: flex;
   width: fit-content;
   justify-content: center;
   border: 3px solid #f4f4f4;
   border-radius: 10px;
   padding: 26px 36px;
   gap: 40px;

}

.category_wrap > * {
   flex: unset !important;
}

.category_wrap .ca_item {
   gap: 13px;
   font-size: 20px;
   text-align: center;
   color: #f4f4f4;
   border-radius: 5px;
   background: #2d2d2d;
   padding: 15px 5px 30px;
   justify-content: end !important;
   width: 150px;
   min-height: 150px;
   cursor: pointer;
   transition: all 0.2s;
}

.category_wrap .ca_item:hover {
   background: #1b1b1b;
   color: var(--main-color2);
}

/* 메인 카테고리 end --------------------------*/



/* 보조 베너 */
.link_Banner {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.link_Banner > a {
   width: 100%; display: block;
   max-width: 640px;
}

/* 보조 베너 end --------------- */




.titleBox {
   margin-bottom: 25px;
}

.titleBox .title {
   display: flex;
   flex-direction: column;
   width: auto;
}

.titleBox .title h2 {
   display: flex;
   align-items: end;
   color: #fff;
   font-size: 30px;
   line-height: 1;
   gap: 5px;
}

.titleBox .title h2 span {
   font-size: 1.36em !important;
}

.titleBox .title p {
   font-size: 20px; color: #dfdfdf;
   line-height: 1.2;
}


.titleBox1 .title h2 > img {
   transform: rotate(20deg);
   margin-right: 5px;
}

.titleBox3 .title h2 {
   flex-direction: column;
   align-items: start;
}

.titleBox3 .title h2 > * {font-family: inherit !important;}


.linkBtn {
   padding: 6px 19px;
   background: #050505;
   color: var(--main-color1);
   font-size: 16px;
   font-weight: 400;
   border-radius: 5px;
}


/* 프로덕트슬라이더 */
.ProductSlider {position: relative;}
.ProductSlider .naviBtn {
   position: absolute;
   top: 25%;
   z-index: 100;
   width: 45px; height: 45px;
   border-radius: 50%;
   background: rgba(0,0,0,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.2s;
}

.ProductSlider .prevBtn {left: -20px;}
.ProductSlider .nextBtn {right: -20px;}
.ProductSlider .nextBtn > img {
   transform: rotate(180deg);
}

.ProductSlider .naviBtn:hover {
   background: #000;
}