/* 메인베너 */
.main_banner {
   width: 100%;
   height: auto;
   margin-top: 20px;
}

.main_banner .slideItem {
   width: 100%;
   padding-bottom: 450px;
   background-repeat: no-repeat;
   background-size: cover;
   /* background-position: center bottom; */
}

/* 메인베너 end ------------------------ */



.category_sec {gap: 25px;}
.category_sec .ca_title {
   text-align: center;
   gap: 10px;
   font-size: 30px;
   color: #fff;
}

/* 메인 카테고리 */
.category_wrap {
   display: flex;
   width: fit-content;
   justify-content: center;
   border: 3px solid #f4f4f4;
   border-radius: 10px;
   padding: 26px 36px;
   gap: 40px;

}

.category_wrap > * {
   flex: unset !important;
}

.category_wrap .ca_item {
   gap: 13px;
   font-size: 20px;
   text-align: center;
   color: #f4f4f4;
   border-radius: 5px;
   background: #2d2d2d;
   padding: 15px 5px 30px;
   justify-content: end !important;
   width: 150px;
   min-height: 150px;
   cursor: pointer;
   transition: all 0.2s;
}

.category_wrap .ca_item:hover {
   background: #1b1b1b;
   color: var(--main-color2);
}

/* 메인 카테고리 end --------------------------*/



/* 보조 베너 */
.link_Banner {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.link_Banner > a {
   width: 100%; display: block;
   max-width: 640px;
}

/* 보조 베너 end --------------- */




.titleBox {
   margin-bottom: 25px;
}

.titleBox .title {
   display: flex;
   flex-direction: column;
   width: auto;
}

.titleBox .title h2 {
   display: flex;
   align-items: end;
   color: #fff;
   font-size: 30px;
   line-height: 1;
   gap: 5px;
}

.titleBox .title h2 span {
   font-size: 1.36em !important;
}

.titleBox .title p {
   font-size: 20px; color: #dfdfdf;
   line-height: 1.2;
}


.titleBox1 .title h2 > img {
   transform: rotate(20deg);
   margin-right: 5px;
}

.titleBox3 .title h2 {
   flex-direction: column;
   align-items: start;
}

.titleBox3 .title h2 > * {font-family: inherit !important;}


.linkBtn {
   padding: 6px 19px;
   background: #050505;
   color: var(--main-color1);
   font-size: 16px;
   font-weight: 400;
   border-radius: 5px;
}


/* 프로덕트슬라이더 */
.ProductSlider {position: relative;}
.ProductSlider .naviBtn {
   position: absolute;
   top: 25%;
   z-index: 100;
   width: 45px; height: 45px;
   border-radius: 50%;
   background: rgba(0,0,0,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.2s;
}

.ProductSlider .prevBtn {left: -20px;}
.ProductSlider .nextBtn {right: -20px;}
.ProductSlider .nextBtn > img {
   transform: rotate(180deg);
}

.ProductSlider .naviBtn:hover {
   background: #000;
}


/* 테스트프로덕트카드 */

.prodcut_item {
   padding-bottom: 40px;
   gap: 15px;
}

.prodcut_item .imgBox {
   position: relative;
   cursor: pointer;
   overflow: hidden;
   width: 100%;
   border-radius: 10px;
}

.prodcut_item .imgBox .rank {
   position: absolute;
   top: 7px; left: 7px;
   width: 25px; height: 25px;
   background: #050505;
   color: #fff;
   font-size: 15px;
   z-index: 2;
   align-items: center;
   justify-content: center;
   border-radius: 3px;
}
.prodcut_item .imgBox .topRank {
   background: #E6BE1B;
}
.prodcut_item .imgBox .rank span {position: relative; top: 2px;}

.prodcut_item .imgBox img {
   transition: all 0.5s;
   will-change: transform;
}

.prodcut_item .imgBox:hover img {
   transform: scale(1.1);
}

.prodcut_item .text_box {
   padding: 0 5px;
}

.prodcut_item .store_name {
   padding: 4px 5px;
   border-radius: 3px;
   background: #3b3b3b;
   width: auto;
   max-width: 85px;
   color: #CECECE;
   font-size: 12px;
   line-height: 1;
}

.prodcut_item .product_title {
   margin: 7px 0 18px;
   font-size: 16px; color: #fff;
   line-height: 1.2; font-weight: 600;
   cursor: pointer;
}

.prodcut_item .content_item {
   gap: 10px;
   align-items: end !important;
}

.prodcut_item .content_item > *{
   width: auto;
}

.prodcut_item .content_item .price_box {
   gap: 5px;
   align-items: start !important;
}

.prodcut_item .content_item .price_box .through_price {
   font-size: 13px; color: rgba(255,255,255, 0.4);
   line-height: 1;
}

.prodcut_item .content_item .price_box .discount_price {
   font-size: 18px; color: var(--main-color2);
   line-height: 1; font-weight: 700;
}

.prodcut_item .content_item .heart_counter {
   align-items: center;
   cursor: pointer;
   gap: 5px;
}

.prodcut_item .content_item .heart_counter > span {
   font-size: 14px; color: #fff;
}