.container {
  padding: 0 20px;
  height: 100%;
}

.container .title_header {
  color: #ddd;
  padding: 15px 0 10px;
  font-size: 13px;
}

/* 상품일 때 */
.container .item_list {
  overflow-y: auto;
  height: 76%;
  padding: 15px 10px 60px;
  background: #121212;
  border-radius: 5px;
}

.container .item_list::-webkit-scrollbar {
  width: 7px;
}
.container .item_list::-webkit-scrollbar-track {
  background: #555; /* 트랙 배경 */
  border-radius: 4px;
}

.container .item_list::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 스크롤바 색 */
  border-radius: 4px; /* 둥글게 */
}


.button_box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0 20px 20px;
}



/* 카테고리일 때 */

.ca_box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px 15px;
}

.ca_box .ca_item {
  width: auto;
  text-align: center;
  padding: 12px 10px;
  border-radius: 5px;
  background: var(--main-color1);
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.ca_box .ca_item:hover {
  background: var(--main-color1);
}




.submit_btn {
  width: 100%;
  background: var(--main-color1);
  border-radius: 5px;
  color: #fff;
  padding: 14px 10px;
  line-height: 1;
  font-size: 20px;
  transition: all 0.3s;
}


@media (min-width: 768px) {
  .submit_btn:hover {
    background: var(--main-color1);
  } 
}



/* 모바일 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.mob_container {padding: 0;}

.mob_container .title_header {
  padding: 15px 13px 10px;
}

.mob_container .item_list {
  border-radius: 0;
  background: #282828;
}

.mob_container .button_box {padding: 0 13px 20px; background: transparent;}

.mob_container .submit_btn {
  background: var(--main-color1);
}

.mob_container .submit_btn:active {
  filter: var(--mob-active-filter);
}