.topToggleBtn {
   width: 55px;
   min-height: 55px;
   border-radius: 50%;
   background: #3f3f3f;
   font-size: 14px;
   color: #fff;
   list-style: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 7px;
   cursor: pointer;
   box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.25);
   opacity: 0;
   visibility: hidden;
   transition: all 0.2s;
}

.topToggleBtn.scroll {
  opacity: 1;
  visibility: visible;
}

.topToggleBtn img {
   transform: rotate(180deg);
}

.topToggleBtn:hover {
   background: #111;
}


@media (max-width: 769px) {
   .topToggleBtn {
      width: 45px;
      min-height: 45px;
      font-size: 11px;
      background: #2F2F2F;
      box-shadow: none;
      border: 1px solid #fff;
   }

   .topToggleBtn img {
      width: 10px !important;
   }
}