.review_wrap {
  gap: 50px;
  width: 100%;
}

.review_wrap .review_board {
  width: 100%;
  gap: 60px;
}

.review_wrap .review_board .review_write {
  background: #111;
  border-radius: 5px;
  padding: 20px 20px 30px;
  width: 100%;
  /* border: 1px solid #ccc; */
}

/* 옵션 */
.review_write .feedback_select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 30px;
  margin-bottom: 30px;
}

.review_write .feedback_select .select_item {
  gap: 10px;
}

.review_write .feedback_select .select_item > .label {
  min-width: 80px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

/* 내용 */
/* 컴포넌트 사용 */

/* 파일 업로드 */

.review_write .review_content {
  margin-bottom: 35px;
}

/* .review_write .file_upload {
  justify-content: center;
  gap: 10px;
} */

/* 리뷰 목록 */

.items {
  display: flex;
  flex-direction: column;
  row-gap: 50px;           /* 아이템 사이 간격 유지 */
}

/* 마지막을 제외한 아이템에만 하단 보더 */
.items > .item:not(:last-child) {
  /* border-bottom: 1px solid var(--line-color, #2b2b2b); */
  padding-bottom: 20px;    /* 필요 시 간격 조정 */
}

.review_list .item {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 50px;
}

.review_list .item .item_header {}

.review_list .item .item_header > * {}

.feedback {
  justify-content: center;
  gap: 100px;
  background-color: #f5f5f5;
  padding: 30px 0;
}

.feedback .feed_item {
  gap: 14px;
  width: auto;
}

.feedback .feed_item > * {
  width: auto;
}

.feedback .feed_item .feed_title {
  font-size: 16px;
  color: #797979;
  font-weight: 500;
}

.feedback .feed_item .feed_content {
  font-size: 16px;
  color: #201F1F;
  font-weight: 600;
}

.review_list .item .content {
  align-items: start !important;
  justify-content: start !important;
  gap: 15px;
}

.review_list .recommend {
  gap: 15px; margin-top: 30px;
}

.review_list .recommend > p {color: #fff !important; font-size: 14px !important;}
.review_list .recommend .recommend_btn {
   border: 1px solid #fff; border-radius: 5px;
   background: transparent;
   font-size: 14px; color: #fff;
   padding: 8px 0;
   width: 100%;
   max-width: 130px;
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;
   transition: all 0.2s;
}

@media (min-width: 769px) {
   .review_list .recommend .recommend_btn:hover {
      border-color: var(--main-color1);
      color: var(--main-color1);
   }
}

.review_list .item .content .img_box {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #ddd;
}

.review_list .item .content .img_box:hover .click_layer {
   opacity: 1;
}

.review_list .item .content .img_box .img_length {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 6px 8px 5px;
  background: #2b2b2b;
  line-height: 1;
  /* border-radius: 3px; */
  font-size: 12px;
  color: #fff;
}

.review_list .item .content .img_box .click_layer {
   position: absolute;
   left: 0; top: 0;
   width: 100%; height: 100%;
   background: rgba(0,0,0,0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 17px;
   color: #fff;
   transition: 0.2s;
   opacity: 0;
}

.mob_container .user_data_wrap .recommend .recommend_btn:active {
  border-color: var(--main-color1);
  color: var(--main-color1);
}

.container .user_data_wrap .recommend .recommend_btnActive,
.mob_container .user_data_wrap .recommend .recommend_btnActive {
  border-color: var(--main-color1);
  color: var(--main-color1);
  background: color-mix(in srgb, var(--main-color1) 15%, transparent);
}


.container .user_data_wrap .recommend .recommend_btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
