.footer {
   --footer-font-color: #dadada;
   background: #242424;
   padding: 50px 15px;
}

.footer * {width: auto;}

/* 회사 정보 */
.footer .info_box {
   gap: 25px;
   flex: unset;
   color: var(--footer-font-color);
}

.footer .info_box .text_box .txt_item {gap: 7px 10px; font-size: 13px; flex-wrap: wrap;}
 

.footer .info_box .info_dt {gap: 7px;}

/* 개인정보처리방침 */
.footer .info_box .policy_item {
   gap: 5px; font-size: 14px;
   font-weight: 500;
   margin-bottom: 15px;
}

.footer .info_box .policy_item > a:hover {
   text-decoration: underline;
}



.footer .cs_box {
   padding: 20px 0 10px;
   width: 100%; gap: 30px;
   max-width: 440px;
}
.footer .cs_box .item h5 {
   font-size: 15px; font-weight: 600;
   color: #fff; margin-bottom: 15px;
}

.footer .cs_box .item .ct_box {gap: 7px;}
.footer .cs_box .item .ct_box > p {
   font-size: 14px !important; color: var(--footer-font-color) !important;
   font-weight: 400 !important;
}

.footer .cs_box .cs_item .tel_number {
   font-size: 20px !important; font-weight: 900;
   color: var(--footer-font-color);
   margin-bottom: 15px !important;
}
