.coupon_box {
  gap: 40px;
}

.total_count {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px;
  aspect-ratio: 1/1;
  background-color: var(--main-color2);
}


.coupon_list {width: 100%;}

.coupon_list .table_header {
  background: #323232;
}

.coupon_list .table_header th {
  padding: 15px 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.tab {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-family: "Pretendard Variable";
  line-height: 100%;
  color: #595959;
  transition: transform 120ms ease, color 120ms ease;
  transform-origin: center bottom;
}

.tab:hover {
  transform: scale(1.125);
}

.activeTab {
  color: #ffffff;
  transform: scale(1.125);
}