.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100dvh;
}

.findBox {
   gap: 50px;
    width: 100%;
    max-width: 460px;
}

.findBox .title_box {
   color: #fff;
   justify-content: center;
   font-size: 30px;
   font-weight: 600;
}