.search_wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}

.search_wrap .search_frame {
  width: 100%;
  height: 100%;
  background: #222;
  padding: 0 !important;
}

.frame_header {
  gap: 25px;
  padding: 15px;
  height: auto;
}

/* 검색창 */
.search_Box {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  width: 100%;
  padding: 11px 10px;
  font-size: 16px;
  background: #111 !important;
}

.search_frame .latest_search_box {
  padding: 10px 0 25px;
  gap: 30px;
  border-bottom: 5px solid #333;
  height: auto;
  flex: unset;
}

.latest_search_box div {
  flex: unset;
}

.latest_list {
  gap: 15px;
}
.latest_list .item > * {
  width: auto;
}

.divider {
  height: 5px;
  background: #333333;
  margin: 12px 0 0;
}

.popularTitle {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "SUIT Variable";
}

.popular_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 24px;
}

.col {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 8px;
}

.row {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 10px;
}

.rank,
.rank1,
.rank2,
.rank3 {
  font-family: "SacheonHangGong-Regular";
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 100%;
}
.rank1 { color: var(--main-color1); }
.rank2 { color: #ff5aa3; }
.rank3 { color: #ff7ab7; }

.term {
  background: transparent;
  border: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.term:hover .ellipsis {
  text-decoration: underline;
}

.ellipsis {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}