.title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 55px;
}

.cart_wrap {
  display: grid;
  /* gap: 30px; */
  /* grid-template-columns: 774px 470px; */
  grid-template-columns: 59% 39%;
  align-items: start !important;
  height: auto;
  position: relative;
}

.cart_wrap .list_title {
  font-size: 25px;
  color: #000;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 25px;
}


.cart_wrap .list_txt {
  font-size: 16px !important;
  font-weight: 500;
  color: #a9a9a9 !important;
  line-height: 1.2;
}

.cart_wrap .cart_data {
  gap: 30px;
}

.cart_wrap .cart_data>div,
.cart_wrap .payment_block {
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  background: #fff;
  padding: 30px;
}

.agree_list .agree_box {
  height: 200px;
  overflow-y: auto;
  align-items: start !important;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 15px;
  margin-top: 4px;
}

/* 왼쪽 주문 정보 */

.cart_wrap .cart_data .product_wrapper {
  align-items: start !important;
}

.cart_wrap .cart_data .product_wrapper .item_list {
  gap: 20px;
}

/* 담은 상품 내용 ----------------------------------------- */
.cart_wrap .cart_data .product_wrapper .cart_item {
  padding: 0 0 20px;
  align-items: end !important;
}
.cart_wrap .cart_data .product_wrapper .cart_item:last-child {
  padding: 0px !important;
}

.cart_wrap .cart_data .product_wrapper .cart_item:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.cart_wrap .cart_data .product_wrapper .cart_item .unit {
  gap: 20px;
  align-items: start !important;
  flex: 1;
}

.cart_wrap .cart_data .product_wrapper .cart_item .unit .item_thumb {
  width: auto;
  overflow: hidden;
  flex: unset;
  border-radius: 5px;
  cursor: pointer;
}

.cart_wrap .cart_data .product_wrapper .cart_item .unit .unit_content {
  padding-top: 2px;
  width: 100%;
  padding-right: 25px;
}

.unit .unit_content>.unit_brand {
  font-size: 14px;
  color: #a8a8a8;
  font-weight: 600;
  padding-bottom: 10px;
}

.unit .unit_content>.unit_title {
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  font-weight: 400;
  cursor: pointer;
}

.unit .unit_content>.unit_title:hover {
  text-decoration: underline;
}

.unit .unit_content .unit_price {
  width: auto;
  flex: unset;
  gap: 10px;
  margin-top: 10px;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 1;
  color: #000 !important;
}

.unit .unit_content .unit_price .normal_price {
  font-weight: 400;
  color: #797979;
  text-decoration: line-through;
  font-size: 14px;
}

/* 상품 쿠폰 버튼 */
.unit .unit_content .coupon_btn {
  padding: 8px 16px;
  background: #222;
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
}
.unit .unit_content .coupon_btn:active {
  background-color: #333;
}


.cart_item .delete_box {
  align-self: end;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}
.cart_item .delete_box_btn {
  transition: all 0.1s;
}
.cart_item .delete_box_btn:active {
  transform: scale(0.85);
}

.cart_item .delete_box button {
  background: none !important;
  cursor: pointer;
}



/* 갯수 추가, 총 금액 표시 */
.product_wrapper .cart_item .totalPrice {
  gap: 15px;
  height: auto;
}

.totalPrice .data {
  flex: unset;
}

.product_wrapper .cart_item .totalPrice .total_txt {
  font-size: 25px !important;
  font-weight: 700 !important;
  /* line-height: 1; */
  color: var(--main-color1) !important;
}

.product_wrapper .cart_item .totalPrice .total_txt>span {
  color: var(--main-color1);
}

/* 담은 상품 내용 end ----------------------------------------- */

/* 배송방법 */

/* .delivery_root {}

.delivery_btn {
   border: 1px solid #fff;
   background: var(--main-color1);
   border-radius: 10px;
   width: 100%;
   max-width: 740px;
   padding: 20px 5px;
   justify-content: center;
   align-items: center;
   gap: 5px;
} */
 .fulfillment_btn:active {
  background-color: #fafafa;
 }

/* 배송방법 end -------------------------------------------------- */


.info_list {
  margin-top: 25px;
  gap: 20px;
}

.info_item {
  gap: 10px;
  align-items: flex-start !important;
}

.info_item>span {
  font-size: 16px;
  color: #555;
  font-weight: 600 !important;
  line-height: 1;
  display: inline-block;
  width: auto;
}

.info_list .info_item>p {
  font-size: 16px;
  color: #222 !important;
  line-height: 1.4;
  font-weight: 500 !important;
}

.info_list .info_unit>span {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.info_list .info_unit>p {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #797979 !important;
}


/* 쿠폰 적용 */
.coupon_info {}

.coupon_select {
  width: 100%;
  max-width: 650px;
  min-width: 250px;
  gap: 20px;
  cursor: pointer;
  background: none;
  padding: 0;
  color: #888;
}
.coupon_select:active {
  background-color: #fafafa;
}

.coupon_choice {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 10px 15px 10px 8px;
  border-radius: 3px;
  gap: 15px;
}

.coupon_choice .coupon_title {
  font-size: 14px;
  font-weight: 400;
}

.coupon_choice .coupon_item {
}


/* 비활성화 */
/* .coupon_select.disabled {cursor: not-allowed;}
.coupon_select.disabled .coupon_choice {filter: opacity(0.5);} */



/* 배송정보 */

.delivery_info .delivery_list_btn {
  background: var(--main-color1);
  border-radius: 5px;
  padding: 9px 13px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.delivery_info .delivery_list_btn:hover {
  background-color: var(--main-color1-hover);
}
.delivery_info .delivery_list_btn:active {
  background-color: var(--main-color1-active);
}

.pickup_info .pickup_list_btn {
  height: 70vh;

}

.info_list .info_item.info_select_box {
  gap: 15px;
  align-items: start !important;
}

.direct_input {
  background: #333;
  border-color: #707070;
  border-radius: 3px;
  color: #fff;
}

.direct_input:focus {
  border-color: #fff;
}

/* 배송정보 end -------------------------------------------------- */

/* 픽업 매장 선택 start */
.store_card {
  cursor: pointer;
}
/* 픽업 매장 선택 end */

/* 결제정보  */

.payment_deak {
  padding-top: 25px;
  gap: 8px;
}

.payment_card {
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  transition: all 0.2s;
  cursor: pointer;
}


/* 결제정보 end -------------------------------------------------- */

/* 이용약관 동의  */

.agree_list {
  gap: 20px;
  margin-bottom: 30px;
}

.agree_list .agree_item .more_btn {
  text-decoration: underline;
  color: #a9a9a9;
  font-size: 14px;
  cursor: pointer;
}

.agree_list .agree_item .more_btn:hover {
  color: #7e7e7e;
}

/* 이용약관 동의 end -------------------------------------------------- */

/* 오른쪽 결제정보 */

.payment_block {
  position: sticky;
  top: 130px;
}
.payment_block .info_item {
  align-items: center !important;
}

.payment_block .total_pay_txt {
  margin-top: 40px;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.payment_block .total_pay_txt>span {
  color: #000;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.payment_block .total_pay_txt>p {
  font-weight: 700 !important;
  font-size: 30px !important;
}

.payment_block .total_pay_txt>p span {
  position: relative;
  bottom: 3px;
}

.payment_btn {
  background: var(--main-color1);
  color: #fff;
  border-radius: 6px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 14px;
  transition: all 0.2s;
}

.payment_btn:hover {
  background: var(--main-color1-hover);
}

.payment_btn:active {
  background: var(--main-color1-active);
  transform: var(--btn-active-translateY) var(--btn-active-scale);
}

.payment_btn:disabled {
  background: var(--button-disabled-bg) !important;
  color: #6e6e6e !important;
}


.point_box {
  align-items: start !important;
  padding: 15px;
  border-radius: 10px;
  /* background: var(--main-color1); */
  gap: 20px;
  border: 1px solid #e6e6e6;
}

.point_box .info_item>span {
  
}

.point_box .info_item .my_point {
  font-size: 20px;
}

.point_box .point_input_box {
  justify-content: flex-start !important;
  align-items: center !important;
}

.point_box .cancel_btn {
  background: transparent;
  border: 1px solid #ddd;
  font-weight: 500;
  font-size: 13px;
  color: #000;
  height: 37px;
  padding: 0 10px;
}

.point_box .cancel_btn:active {
  background: #fafafa;
}

.point_box .point_total {
  gap: 15px;
}

.markerBubble {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  max-width: none;
  padding: 4px 8px;
  background-color: #00c73c;
  color: #fff;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  
}


.markerBubbleActive {
  background-color: blue;
}

/* 꼬리 */
.tail {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #00c73c;
}

.markerBubbleActive .tail {
  border-top-color: blue;
}