.container {
  padding: 0 20px;
  height: 100%;
  gap: 25px;
}

.container .list_header {
  border-top: 1px solid #797979;
  padding-top: 15px;
  color: #797979;
  font-size: 16px;
}

.list_wrap {
  overflow-y: auto;
  height: 76%;
  padding-bottom: 60px;
  padding-right: 5px;
}

.list_wrap::-webkit-scrollbar {
  width: 7px;
}
.list_wrap::-webkit-scrollbar-track {
  background: #555; /* 트랙 배경 */
  border-radius: 4px;
}

.list_wrap::-webkit-scrollbar-thumb {
  background-color: #ccc; /* 스크롤바 색 */
  border-radius: 4px; /* 둥글게 */
}

.container .item_list {gap: 20px;}


.item_list .item {
  position: relative;
}

.item_list .item > label {
  position: relative; z-index: 1;
  display: block;
  width: 100%;
  height: auto;
  background: #111;
  border: 1px solid #fff;
  position: relative;
  transition: border-color 0.1s;
}

/* 카드 체크되었을 시 */
.item_list .item.checked > label {
  border-color: var(--main-color1);
}

.item_list .item .checkBox {
  width: auto;
  align-self: start;
  padding: 5px;
}

/* .item.expired,
.item.used {
  background: #000;
} */

.item .data_card {
  padding: 10px 15px;
  gap: 11px;
  line-height: 1.3;
  color: #fff;
  border-right: 2px dashed #fff;
}

.item .data_card .name {font-size: 14px;}
.item .data_card .value {font-size: 25px;}
.item .data_card .txt1 {font-size: 12px; color: #797979;}

.item .cutout_wrap {
  height: 100%;
  padding: 5px 15px;
}

.more_btn {
  padding: 0;
  background: transparent;
  text-decoration: underline;
}

.btn_txt {
  font-size: 12px;
}

.button_box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0 20px 20px;
}

.submit_btn {
  width: 100%;
  background: var(--main-color1);
  border-radius: 5px;
  color: #fff;
  padding: 14px 10px;
  line-height: 1;
  font-size: 20px;
  transition: all 0.3s;
}


@media (min-width: 768px) {
  .submit_btn:hover {
    background: var(--main-color1);
  } 
}

/* 중복 안될 때 */
.item_list .item > label .expired {
  position: absolute;
  top: 0; left: 0;
  z-index: 2;
  background: rgba(17,17,17,0.8);
  width: 100%; height: 100%;
}



/* 모바일 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.mob_container {padding: 0;}

.mob_container .list_header {
  padding: 15px 10px 0;
}

.mob_container .list_wrap {
  padding: 0 5px 50px;
}

.mob_container .item .name {font-size: 15px;}
.item .date {font-size: 13px;}

.mob_container .button_box {padding: 0 13px 20px;}

.mob_container .submit_btn {
  background: var(--main-color1);
}

.mob_container .submit_btn:active {
  filter: var(--mob-active-filter);
}