.delivery_box {
   padding-bottom: 40px;
}

.delivery_box :is(span, p) {
   word-break: break-all;
}

.delivery_box .top_box {
   gap: 20px;
}

.delivery_box .top_box > * {
   width: auto;
}

.delivery_box .top_box .all_txt {
   font-size: 16px;
   color: #fff;
   font-weight: 600;
   gap: 5px;
}

.delivery_box .top_box .all_txt span {
   font-size: 0.9em !important;
   font-weight: 400 !important;
}

.delivery_box .top_box .add_btn {width: 100%;}

.delivery_box .top_box .add_btn button {
   padding: 12px 13px;
   background: var(--main-color1);
   border-radius: 5px;
   color: #fff;
   transition: all 0.2s;
   font-size: 16px;
   width: 100%;
}


/* 리스트 */
/* .delivery_list {gap: 30px;} */

.delivery_list .item {
   gap: 20px;
   padding: 20px 10px;
   border-bottom: 1px solid #6b6b6b;
}

/* 기본배송지 */
.delivery_list .item.default {
   border: 1px solid #fff;
   border-radius: 5px;
   padding: 15px 10px;
   margin-bottom: 20px;
}


.delivery_list .item:hover .address p {
   text-decoration: underline;
}

.delivery_list .item > * {width: auto;}

/* .delivery_list .item .number {
   background: #050505;
   padding: 5px 7px;
   border-radius: 3px;
   width: auto;
} */

.delivery_list .item .content {gap: 10px; align-items: start !important;}
.delivery_list .item .content .default {
   font-size: 11px;
   color: #fff;
   padding: 5px 9px;
   background: var(--main-color1);
   width: auto;
   border-radius: 20px;
}

.delivery_list .item .content .address {
   font-size: 13px; color: #ddd;
   font-weight: 500;
   line-height: 1.4;
}

.delivery_list .item .content .user_pri {
   font-size: 12px; gap: 5px;
   color: #eaeaea;
   width: auto;
}

.delivery_list .item .content span {
   color: #7d7d7d;
}

.delivery_list .item .edit_btn {
   width: auto; cursor: pointer;
}

.delivery_list .item .edit_btn button {
   padding: 5px 10px; background: transparent;
   border: 1px solid #aaa;
   font-size: 12px;
   transition: all 0.1s;
   color: #fff;
}