.page {
  padding: 32px 40px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
  width: 100%;
}

.empty {
  text-align: center;
  color: #888;
  font-size: 15px;
  padding: 40px 0;
}

.pageLine {
  padding-top: 20px;
  width: 100%;
}

.pageButton {
  background-color: #ffffff;
  color: #3c4b64;
  border: 1px solid #cecece;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  width: max-content;
  min-width: 35px;
  height: 35px;
  text-align: center;
  transition: 0.2s;
  font-weight: bold;
}
.pageButton:hover {
  background-color: #ccc;
}

.pageButton.selected {
  background-color: var(--admin-background-color);
  color: #ffffff;
  font-weight: bold;
  border-color: var(--admin-border-color);
}

.pageButton.arrow {
  background-color: #3c4b64;
  color: #ffffff;
  border-color: #3c4b64;
  position: relative;
}
.pageButton.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("/resources/icons/arrow_left.png") no-repeat center center /
    cover;
  width: 10px;
  height: 16px;
}
.pageButton.arrowNext::before {
  transform: translate(-50%, -50%) rotate(180deg);
}

.pageButton.arrowTwice::before {
  width: 16px;
  height: 16px;
  background: url("/resources/icons/arrow_twice.png") no-repeat center center /
    cover;
}
.pageButton.arrowTwiceNext::before {
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%) rotate(180deg);
  background: url("/resources/icons/arrow_twice.png") no-repeat center center /
    cover;
}

.pageButton.selected:hover {
  text-decoration: unset;
}