.label {
  font-weight: 600;
  font-size: 14px;
  color: #1c1b1f;
}

.divider {
  display: flex;
  align-items: center; /* 수직 정렬 */
  text-align: center;
}

.divider-text {
  padding: 0 1em; /* 좌우 여백 */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 방지 */
}

.divider::before,
.divider::after {
  content: ""; /* 가상 요소를 생성 */
  flex: 1; /* 남은 공간을 모두 채우도록 확장 */
  border-bottom: 1px solid #eaeaea; /* 가로선 스타일 */
}

.button {
  background-color: var(--main-color, var(--admin-color));
  width: 100%;
  height: 52px;
  font-size: 18px;
  font-weight: 600;
}

.button:disabled {
  background-color: #d9d9d9;
}
