

.board_frame {width: 100%;}

.board_frame > .title_box {
   padding-bottom: 20px;
   border-bottom: 3px solid #0a0a0a;
}

.board_frame > .title_box h3 {
   font-size: clamp(25px, calc(100vw * 30 / 768), 30px); 
   text-align: center;
   font-weight: 700;
   color: #1a1a1a;
}

.board_searchBox {
   margin-bottom: 20px;
   justify-content: center !important;
}

.board_searchBox h3 {
   font-size: 30px;
   font-weight: 700;
   color: #1a1a1a;
   line-height: 1.2;
}

.board_searchBox .search_box {
  border: 1px solid #797979;
  border-radius: 5px;
  padding: 0;
  background: #fff;
  display: flex;
  align-items: center;
  width: max-content;
}

/* 게시판 리스트 스타일 */

/* .board_searchBox .search_box {width: auto;} */

/* .board_searchBox .search_box > * {flex: 1;} */

.board_searchBox .search_box input {
  font-size: 16px;
  padding: 11px 15px;
  border: none;
  flex: 1;
  background: transparent;
  color: #fff;
  min-width: 0;
}

.board_searchBox .search_box .searchBtn {
  padding: 11px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: transparent;
  border-radius: 0;
  min-width: auto;
  transition: all 0.1s;
  width: auto;
  border-left: 1px solid #797979;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.board_searchBox .search_box .searchBtn:hover {
  background: #050505;
}

/* 검색창 필터 셀렉트 */
.search_select_body {
  width: 100px;
  border-radius: 0;
  height: 100%;
  padding: 12px 15px;
}



.list_table {
   width: 100%;
   table-layout: fixed;
}


.list_table tr {
   border-bottom: 1px solid #e2e2e2;
}

.list_table .td_item {
   align-items: start !important;
   gap: 30px;
}

.list_table .td_item .td_title {
   font-size: 16px;
   font-weight: 600;
   line-height: 1.4;
}

.list_table .td_item .td_title > div:last-child {flex: 1;}

.list_table .td_item .sub_data > * {
   width: auto;
   padding: 0 7px;
   font-size: 13px;
   color: #797979;
}

.list_table .td_item .sub_data > *:first-child {
   padding-left: 0;
}


.list_table td {
   background: #fff;
   padding: 20px 0 15px;
   font-size: 15px;
   color: #1a1a1a;
   line-height: 1.2;
   text-align: center;
   word-wrap: break-word; /* 이거 줘야 테이블에서 내용들 넘치면 줄바꿈 됨. */
   /* word-break: break-all; */
   vertical-align: middle; /* 테이블 내용 세로 정렬: align-items: center라고 보면 됨 */
}


.list_bottom_box {
   margin-top: 25px;
   justify-content: center !important;
   position: relative;
}

/* .write_btn {
   background: #323232;
   border-radius: 5px;
   padding: 13px 10px;
   color: #fff;
   font-size: 18px;
   font-weight: 600;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 500px;
} */


/* 1:1문의 리스트 */

/* .inquiry_table tr {
   border-bottom: 1px solid #797979;
}

.inquiry_table tr td {
   background: #323232;
} */



/* 이용약관 모달 내용 */

.agree_content {
   color: #bfbfbf;
   background-color: #2b2b2b;
   border: 1px solid #707070;
   border-radius: 5px;
   width: 100%;
   height: 100%;
   padding: 20px;
   font-size: 16px;
   line-height: 1.6;
   overflow-y: auto;
   align-items: start !important;
}


/* 댓글수 */
.comment_count {font-size: 0.8125em !important; color: #FF5B5D;}



/* 게시판 리스트 스타일 end -------------------------------------------  */