.complete_title > * {
   text-align: center;
}

.complete_title span {
   position: relative; bottom: 1px;
}


.box_frame {
   background: #222;
   border: 1px solid #7d7d7d7d;
   border-radius: 10px;
   padding: 20px 20px 35px;
}

.box_frame .box_header {
   border-bottom: 1px solid #6B6B6B;
   padding-bottom: 15px;
   font-size: 20px; 
   font-weight: 600;
   color: #fff;
   gap: 20px;
   align-items: end !important;
   justify-content: center !important;
}

.box_frame .delivery_info .delivery_txt {
   font-size: 15px; color: #fff;
   text-align: center;
   line-height: 1.4;
}

.total_frame {
   background: #080808;
   border: 1px solid #323232;
   padding: 20px 15px;
   border-radius: 10px;
}

.post_btn {
   width: 100%;
   padding: 13px 10px;
   border-radius: 10px;
   background: var(--main-color2);
   font-size: 18px;
   font-weight: 600;
   line-height: 1.4;
   display: flex;
   align-items: center;
   justify-content: center;
}



/* 주문내역 리스트 */

.list_item {padding-bottom: 20px;}
.list_item  .unit {gap: 10px; text-align: left;}
.list_item .unit_content {gap: 7px;}

.list_item .unit_content .unit_brand {
   color: #a8a8a8;
   font-size: 12px;
}

.list_item .unit_content .unit_title {
   color: #fff;
   font-size: 15px;
   line-height: 1.3;
   margin-bottom: 5px !important;
}

.option_list {gap: 7px;}
.option_list > * {
   font-size: 12px;
   color: #fff;
}

.option_list > * p {
   color: #797979 !important;
}

/* 결제 할인 금액 */
.price_box {gap: 10px;}
.price_box > * {
   gap: 7px; font-size: 14px;
   flex-wrap: wrap;
   width: auto;
}


.slide_title {
   font-size: 20px;
}

.ProductSlider {position: relative;}
.ProductSlider .naviBtn {
   position: absolute;
   top: 25%;
   z-index: 100;
   width: 45px; height: 45px;
   border-radius: 50%;
   background: rgba(0,0,0,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.2s;
}

.ProductSlider .prevBtn {left: -20px;}
.ProductSlider .nextBtn {right: -20px;}
.ProductSlider .nextBtn > img {
   transform: rotate(180deg);
}

.ProductSlider .naviBtn:hover {
   background: #000;
}