.header {
  --header-bg : #F5F5F7;
  background: var(--header-bg, #F5F5F7);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 0;

  transition: all 0.3s;
}

/* 스크롤 fixed - header 안에 자식에 걸림 */
/* .fixed {
  position: fixed;
  top: 0;
  background: #1a1a1a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
} */

.headerTop {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}


/* 하단 메뉴 */

.Menu_box {
  padding-top: 10px;
  padding-bottom: 13px;
  position: relative;
  overflow-x: auto;
  background: var(--header-bg, #F5F5F7);
}

.Menu_box::-webkit-scrollbar {
  width: 0;
  /* 세로 스크롤바 두께 */
  height: 3px;
  /* 가로 스크롤바 두께 */
  display: none;
}

.Menu_box::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.outerMenu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.outerMenu > li {
  position: relative;
  white-space: nowrap;
}

.outerMenu > li > a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: rgba(0,0,0,0.8);
  font-weight: 600;
  transition: all 0.2s;
}

.outerMenu > li > .active_line {
  position: absolute;
  z-index: 1;
  bottom: -6px;
  background: var(--main-color1);
  display: block;
  width: 0;
  height: 3px;
  right: 0;
  transition: all 0.2s;
}

.outerMenu > li:hover {
  color: #000;
}

.outerMenu > li:hover > .active_line,
.outerMenu > li.active > .active_line {
  left: 0;
  right: unset;
  width: 100%;
}

.outerMenu > li:hover > a,
.outerMenu > li.active > a {
  color: #000;
}


.cart_btn {
  position: relative;
}