
.delivery_wrap .delivery_title {
   padding-bottom: 15px;
   border-bottom: 1px solid #535353;
   margin-bottom: 20px;
}

.delivery_wrap .delivery_title h3 {
   font-size: 20px;
   color: #fff;
   font-weight: 600;
}

.delivery_wrap .content {
   align-items: start !important;
   gap: 35px;
}

.delivery_wrap .content .item {
   align-items: inherit !important;
   gap: 16px;
}

.delivery_wrap .content .item h4 {
   font-size: 18px; color: #fff;
   font-weight: 600;
}

.delivery_wrap .content .item h5 {
   font-size: 16px; color: #fff;
   font-weight: 600;
}

.delivery_wrap .content .item p {
   font-size: 14px; color: #c7c7c7;
   line-height: 1.4;
}