/* .detail_wrapper {
   position: relative;
   left: 50px;
} */


.detail_container {
   width: 100%;
   max-width: 768px;
   --infoBox-bg : #101113;
   --infoBox-border : #535353;
}

/* 화면 썸네일 */
.detail_thumbnail {
   width: 100%;
   justify-content: center;
}

/* 오른쪽 정보 패널 */
.detail_infoBox {
   padding: 15px 10px;
   width: 100%;
}

.detail_infoBox > * {width: auto;}

.detail_infoBox .brand {
   color: #fff;
   background-color: var(--main-color1);
   padding: 5px 6px;
   border-radius: 3px;
   font-size: 13px;
   margin-bottom: 10px;
}

.detail_infoBox .detail_title {
   color: #222;
   font-size: 20px;
   font-weight: 600;
   padding-bottom: 24px;
   line-height: 1.2;
}

.detail_infoBox .price {
   color: #222;
   font-size: 25px;
   font-weight: 700;
   line-height: 1.2;
}




.detail_infoBox .sale_price {
   color: var(--main-color1);
   font-size: 25px;
   font-weight: 800;
}

.detail_infoBox .regular_price {
   color: #797979;
   font-size: 17px;
   font-weight: 600;
   text-decoration: line-through;
}

.detail_infoBox .delivery_share_box {
   width: 100% !important;
   border: 1px solid #e6e6e6;
   border-left: none;
   border-right: none;
   margin-top: 10px;
}

.detail_infoBox .delivery_share_box > * {
   width: auto;
   padding: 13px 5px;
}

.detail_infoBox .delivery_share_box .delivery_info {
   gap: 10px;
}

.detail_infoBox .delivery_share_box .delivery_info p {
   font-size: 16px !important;
   color: #222 !important;
   font-weight: 600 !important;
}

.delivery_admin_write_data {
   padding: 20px 5px 20px;
   border-bottom: 1px solid #e6e6e6;
}


/* 프로덕트 슬라이더 */
.slide_wrap {
   padding: 0 10px;
}
.slide_title {
   font-size: 16px;
   color: #222;
   font-weight: 700;
}

.ProductSlider {position: relative; overflow: hidden;}
.ProductSlider .naviBtn {
   position: absolute;
   top: 25%;
   z-index: 100;
   width: 45px; height: 45px;
   border-radius: 50%;
   background: rgba(0,0,0,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.2s;
}

.ProductSlider .prevBtn {left: -20px;}
.ProductSlider .nextBtn {right: -20px;}
.ProductSlider .nextBtn > img {
   transform: rotate(180deg);
}

.ProductSlider .naviBtn:hover {
   background: #000;
}


/* 하단 고정 구매버튼 그룹 */
.bottom_pay_wrap {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
}

.bottom_pay_wrap .bottom_pay_box {
   margin: 0 auto;
   padding: 7px 10px !important;
   /* background: linear-gradient(180deg, #313131, #1E1E20); */
   background-color: #fff;
}

.buyButton_box {
   gap: 10px; width: 100%;
}

.buyButton_box .heart_btn {
   background: none;
   transition: transform 0.1s;
}
.buyButton_box .heart_btn:active {
   transform: var(--btn-active-translateY) var(--btn-active-scale);
}

.buyButton_box .buy_btn {
   width: 100%;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   padding: 15px 5px;
   background: #050505;
   color: #fff;
   transition: all 0.1s;
}

.buyButton_box .buy_btn:active {
   transform: var(--btn-active-translateY) var(--btn-active-scale);
}


/* 하단 고정 버튼 모달 */
.pay_cart_modal {
   height: 100%;
   justify-content: center;
   padding: 15px;
   background: #fff;
}

.pay_cart_modal .title_header {
   justify-content: center;
   font-size: 18px;
   font-weight: 700;
   color: #000;
}


/* 옵션 상자 */
.option_box {
   width: 100%;
   gap: 30px;
   overflow-y: auto;
   margin: 30px 0 20px;
   max-height: 300px;
   background-color: #F7F8FA;
}

.option_box .option_item {
   gap: 10px;
   height: auto;
   flex: unset;
   padding-bottom: 10px;
}

.option_box .option_item .disable {
   color: #797979;
   text-decoration: line-through;
}

.option_box .option_item .input_box {
   align-self: end;
}

.option_box .option_item .input_box .quantity_txt {
   color: #000;
   font-size: 14px;
}

.option_box .txt_item {
   align-items: end;
   gap: 5px;
   font-size: 14px;
   color: #fff;
   flex: 1;
   line-height: 1.2;
   text-align: right;
   justify-content: space-between;
}

.option_box .txt_item .op_name {
   /* max-width: 200px; */
   max-width: 100%;
   padding-right: 5px;
   text-align: left !important;
   line-height: 1.3;
}

.total_box {
   width: 100%;
   justify-content: end;
   gap: 15px;
   padding-top: 30px;
   border-top: 1px solid #e6e6e6;
}

.total_box .total_item {
   gap: 13px;
   justify-content: end;
}

.total_box .price {
   color: #222;
   font-size: 25px;
   font-weight: 700;
   line-height: 1.2;
}

.total_box .total_txt {
   font-size: 18px !important;
   color: #000 !important;
   font-weight: 600 !important;
}

.total_box .button_box {
   gap: 6px;
}

.total_box .cart_btn,
.total_box .buy_btn {
   width: 100%;
   padding: 14px 5px;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
}

.total_box .cart_btn {
   background: var(--main-color1);
   transition: all 0.1s;
}
.total_box .cart_btn:active {
   background: var(--main-color1-mobile-active);
   transform: var(--btn-active-translateY) var(--btn-active-scale);
}

.total_box .buy_btn {
   background: var(--default-color);
   transition: all 0.1s;
}
.total_box .buy_btn:active {
   background: var(--black-color-mobile-active);
   transform: var(--btn-active-translateY) var(--btn-active-scale);
}




/* 하단 상품 정보 탭 컨테이너 */

.contents_container {
   position: relative;
   width: 100%;
}

.contents_container .tab_wrap {
   position: sticky;
   gap: 10px;
   top: var(--subpageHeader-H);
   z-index: 100;
   padding: 13px 10px 10px;
   background: #fff;
   /* border-bottom: 1px solid #595959; */
   box-shadow: 0 3px 4px rgba(0,0,0,0.05);
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.contents_container .tab_wrap .content_tab {
   justify-content: center;
   color: #A7A7A7;
   cursor: pointer;
   font-size: 15px;
   font-weight: 600;
   width: auto;
}

.contents_container .tab_wrap .content_tab p {
   position: relative;
   padding-bottom: 7px;
   /* display: flex; */
   /* flex-direction: column; */
   gap: 5px;
   /* align-items: center; */
   white-space: nowrap;
}

.contents_container .tab_wrap .content_tab p .list_count {
   margin-left: 5px !important;
   padding: 3px 5px;
   background: #ccc;
   color: #fff;
   font-size: 11px;
   border-radius: 3px;
   width: fit-content;
   /* display: block; */
}


.contents_container .tab_wrap .content_tab p::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 0;
   height: 2px;
   background: #fff;
}

.contents_container .tab_wrap .content_tab.active {
   color: #000;
}
.contents_container .tab_wrap .content_tab.active p::after {
   width: 110%;
   background-color: var(--main-color1);
}
.contents_container .tab_wrap .content_tab.active p .list_count {
   background-color: var(--main-color1);
}


/* 하단 정보 스타일 */

.contents_container .content_view {
   padding-top: 40px;
}

/* 탭 내용 바뀔때 애니메이션 변경 */
.tab_fade {
   opacity: 0;
   animation: fadeIn 0.3s ease forwards;
   width: 100%;
}

@keyframes fadeIn {
   to {
      opacity: 1;
   }
}