.detail_container {
   width: 100%;
   max-width: 768px;
   --infoBox-bg : #101113;
   --infoBox-border : #535353;
}



/* 화면 썸네일 */
.detail_thumbnail {
   width: 100%;
   justify-content: center;
}

/* 오른쪽 정보 패널 */
.detail_infoBox {
   padding: 15px 10px;
   width: 100%;
}

.detail_infoBox > * {width: auto;}

.detail_infoBox .brand {
   color: #6D6D6D;
   font-size: 13px;
   margin-bottom: 5px;
}

.detail_infoBox .detail_title {
   color: #EDEDED;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 24px;
   line-height: 1.2;
}

.detail_infoBox .price {
   color: #fff;
   font-size: 35px;
   font-weight: 700;
   line-height: 1.2;
}

.detail_infoBox .price p {
   color: var(--main-color1) !important;
}


.detail_infoBox .sale_price {
   color: #DEDEDE;
   font-size: 25px;
   font-weight: 600;
}

.detail_infoBox .regular_price {
   color: #797979;
   font-size: 16px;
   font-weight: 600;
   text-decoration: line-through;
}

.detail_infoBox .delivery_share_box {
   width: 100% !important;
   border: 1px solid #535353;
   border-left: none;
   border-right: none;
   margin-top: 10px;
}

.detail_infoBox .delivery_share_box > * {
   width: auto;
   padding: 13px 5px;
}

.detail_infoBox .delivery_share_box .delivery_info {
   gap: 10px;
}

.detail_infoBox .delivery_share_box .delivery_info p {
   font-size: 16px !important;
   color: #dedede !important;
   font-weight: 600 !important;
}

.delivery_admin_write_data {
   padding: 20px 0 40px;
}


/* 프로덕트 슬라이더 */
.slide_wrap {
   padding: 0 10px;
}
.slide_title {
   font-size: 16px;
}

.ProductSlider {position: relative; overflow: hidden;}
.ProductSlider .naviBtn {
   position: absolute;
   top: 25%;
   z-index: 100;
   width: 45px; height: 45px;
   border-radius: 50%;
   background: rgba(0,0,0,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.2s;
}

.ProductSlider .prevBtn {left: -20px;}
.ProductSlider .nextBtn {right: -20px;}
.ProductSlider .nextBtn > img {
   transform: rotate(180deg);
}

.ProductSlider .naviBtn:hover {
   background: #000;
}


/* 하단 고정 구매버튼 그룹 */
.bottom_pay_box {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   padding: 7px 10px;
   background: linear-gradient(180deg, #313131, #1E1E20);
}

.buyButton_box {
   gap: 10px; width: 100%;
}

.buyButton_box .heart_btn {
   background: none;
}

.buyButton_box .buy_btn {
   width: 100%;
   border-radius: 5px;
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   padding: 15px 5px;
   transition: all 0.1s;
}

.buyButton_box .buy_btn {
   background: #050505;
   color: var(--main-color1);
}


/* 하단 고정 버튼 모달 */
.pay_cart_modal {
   height: 100%;
   justify-content: center;
   padding: 15px;
   background: #222;
}

.pay_cart_modal .title_header {
   justify-content: center;
   font-size: 18px;
   font-weight: 600;
   color: #fff;
}


/* 옵션 상자 */
.option_box {
   width: 100%;
   gap: 30px;
   overflow-y: auto;
   margin: 30px 0;
   max-height: 300px;
}

.option_box .option_item {
   gap: 20px;
   height: auto;
   flex: unset;
}

.option_box .option_item .disable {
   color: #797979;
   text-decoration: line-through;
}

.option_box .txt_item {
   align-items: end;
   gap: 5px;
   font-size: 14px;
   color: #fff;
   flex: 1;
   line-height: 1.2;
   text-align: right;
   justify-content: space-between;
}

.option_box .txt_item .op_name {
   max-width: 200px;
   text-align: left !important;
}

.total_box {
   width: 100%;
   justify-content: end;
   gap: 15px;
}

.total_box .total_item {
   gap: 13px;
   justify-content: end;
}

.total_box .price {
   color: var(--main-color1);
   font-size: 25px;
   font-weight: 700;
   line-height: 1.2;
}

.total_box .total_txt {
   font-size: 14px !important;
   color: #fff !important;
   font-weight: 600 !important;
}

.total_box .button_box {
   gap: 10px;
}

.total_box .cart_btn,
.total_box .buy_btn {
   width: 100%;
   padding: 14px 5px;
   color: #fff;
   font-size: 15px;
   font-weight: 700;
}

.total_box .cart_btn {
   border: 1px solid #fff;
   background: transparent;
}

.total_box .buy_btn {
   background: var(--main-color2);
}






/* sticky 구매창 */
/* .mini_infoBox {
   width: 100%;
   max-width: 410px;
   background: var(--infoBox-bg);
   border: 1px solid var(--infoBox-border);
   padding: 25px 15px;
   border-radius: 10px;
   position: sticky;
   top: 70px;
}

.mini_infoBox .option_item {
   gap: 20px; align-items: start !important;
}

.mini_infoBox .option_item .txt_item {
   flex-direction: column;
   align-items: end !important;
   font-size: 14px;
   max-width: 185px;
   text-align: right;
   line-height: 1.2;
}

.mini_infoBox .total_box {
   flex-wrap: wrap;
}

.mini_infoBox .price p {
   color: var(--main-color1) !important;
}

.mini_infoBox .buyButton_box {
   flex-wrap: wrap;
   justify-content: start !important;
}

.mini_infoBox .buyButton_box > .cart_box {
   width: auto;
   flex: 1;
}

.mini_infoBox .buyButton_box .cart_btn {
   max-width: 100%;
}

.mini_infoBox .buyButton_box .buy_btn {
   width: 100% !important;
   max-width: 100%;
} */




/* 하단 상품 정보 탭 컨테이너 */

.contents_container {
   position: relative;
   width: 100%;
}

.contents_container .tab_wrap {
   gap: 10px;
   position: sticky;
   top: 50px;
   z-index: 100;
   padding: 13px 10px 10px;
   background: #221f22;
   border-bottom: 1px solid #595959;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.contents_container .tab_wrap .content_tab {
   justify-content: center;
   color: #595959;
   cursor: pointer;
   font-size: 13px;
   width: auto;
}

.contents_container .tab_wrap .content_tab p {
   position: relative;
   padding-bottom: 7px;
   /* display: flex; */
   /* flex-direction: column; */
   gap: 5px;
   /* align-items: center; */
   white-space: nowrap;
}

.contents_container .tab_wrap .content_tab p .list_count {
   margin-left: 5px !important;
   padding: 1px 5px;
   background: #FF2A2A;
   color: #fff;
   font-size: 10px;
   border-radius: 5px;
   position: absolute;
   top: -5px;
   right: -15px;
   width: fit-content;
   /* display: block; */
}

.contents_container .tab_wrap .content_tab p::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 0;
   height: 2px;
   background: #fff;
}

.contents_container .tab_wrap .content_tab.active {color: #fff;}
.contents_container .tab_wrap .content_tab.active p::after {width: 100%;}


/* 하단 정보 스타일 */

.contents_container .content_view {
   padding-top: 40px;
}

/* 탭 내용 바뀔때 애니메이션 변경 */
.tab_fade {
   opacity: 0;
   animation: fadeIn 0.3s ease forwards;
   width: 100%;
}

@keyframes fadeIn {
   to {
      opacity: 1;
   }
}