.board_header {
   padding-top: 80px;
}

.customer_info {
   margin-bottom: 50px;
}

.customer_info > * {
   width: auto;
}

.customer_info h3 {
   font-size: 50px;
   font-weight: 700;
   color: #111;
   position: relative;
   padding-bottom: 30px;
}

.customer_info .call_number {
   font-size: 25px; font-weight: 900;
   color: #333;
   margin-bottom: 20px;
}

.customer_info .business_time {
   font-size: 16px;
   color: #424242;
   font-weight: 500;
}


.board_navi .item {
   background: #242424;
   align-items: center;
   justify-content: center;
   border: 1px solid #575757;
}
.board_navi .item a {
   color: #595959;
   font-size: 18px;
   font-weight: 600;
   width: 100%;
   display: block;
   padding: 15px 5px;
   text-align: center;
}

/* 해당 링크일 시, */
.board_navi .item.active {
   border-color: var(--main-color1);
   background: #050505;
}

.board_navi .item.active a {color: #fff;}