.container {
  padding: 20px;
  background-color: white;
}

.search_ontainer {
  background-color: white;
  height: 100%;
  margin-bottom: 30px;
}

.titleWrap {
  background-color: #f0f0f8;
  padding: 18px 20px;
}

.selectButton {
  background-color: white;
  border: 1px solid #999;
  padding: 5px 15px;
  color: #999;
  display: flex;
  /* flex: 1 1 100%; */
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: max-content;
  border-radius: 5px;
}

.active {
  background-color: var(--admin-table-bg-color);
  color: var(--admin-color);
}

.select {
  width: 120px;
  padding: 5px;
  color: #aaa;
}

.searchSelectWrap {
  border-radius: 5px;
  position: relative;
}

.searchSelectWrap select {
  background-image: none !important;
}

.searchSelectWrap .imgChanger {
  position: absolute;
  top: 53%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 2;
  width: fit-content;
}
.searchSelectWrap .imgChanger img {
  display: none;
}
.searchSelectWrap .imgChanger .downActive {
  display: block;
}

.searchSelect {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
  cursor: pointer;
  width: 85px;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  background-color: #3c4b64;
}

.searchSelect option {
  background: #ffffff;
  color: #000;
}

.categoryWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e6e8;
  padding: 7px 15px;
  gap: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 85px;
}

.categorySelect {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;
  gap: 10px;
  cursor: pointer;
  width: 100px;
  background-color: #e5e6e8;
  color: black;
  border: 0;
  border-radius: 5px;
  background-position: 90% 55%;
  font-size: 14px;
  font-weight: 500;
}

.categorySelect option {
  background: #ffffff;
  color: #000;
}

.categorySelect2 {
  background-color: #383e58;
  color: #ffffff;
}

.categoryOption {
  color: #ffffff;
}

.categoryWrap.selected {
  background-color: #383e58;
  color: white;
  border-radius: 5px;
}

.categorySelect.selected {
  background-color: #3c4b64;
  border-radius: 5px;
  color: white;
  /* background: url("/src/resources/icons/downIcon_white.svg") no-repeat 90% 55% / 10px; */
}

.categorySelect:focus-visible {
}

.button {
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 25px;
  width: 120px;
}
.selection div {
  color: #111 !important;
}
