.selectBody {
   position: relative;
}

.selectBody > img {
   filter: brightness(0.2);
   position: absolute;
   top: 50%;
   right: 5px;
   transform: translateY(-50%);
   transition: all 0.3s 0.1s;
}

.selectBody select {
   -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

   padding: 0 5px;
   font-size: 16px;
   color: #414141;
   font-weight: 600;
   padding-right: 27px;
   text-align: right;
   max-width: 130px;
   border: none;
   cursor: pointer;
}

.selectBody select:focus {outline: none;}
.selectBody:hover > img {transform: translateY(-50%) rotate(180deg);}
