.complete_title > * {
   text-align: center;
}

.complete_title span {
   position: relative; bottom: 1px;
}


.box_frame {
   background: #222;
   border: 1px solid #7d7d7d7d;
   border-radius: 10px;
   padding: 20px 20px 35px;
}

.box_frame .box_header {
   border-bottom: 1px solid #6B6B6B;
   padding-bottom: 15px;
   font-size: 20px; 
   font-weight: 600;
   color: #fff;
   gap: 20px;
   align-items: end !important;
   justify-content: center !important;
}

.box_frame .delivery_info .delivery_txt {
   font-size: 16px; color: #fff;
}

.total_frame {
   background: #080808;
   border: 1px solid #323232;
   padding: 40px 15px;
   border-radius: 10px;
}

.post_btn {
   width: 100%;
   max-width: 410px;
   padding: 14px 10px;
   border-radius: 10px;
   background: var(--main-color2);
   font-size: 25px;
   font-weight: 600;
   line-height: 1.4;
   display: flex;
   align-items: center;
   justify-content: center;
}



/* 주문내역 리스트 */

.list_table {
   width: 100%;
   table-layout: fixed;
}

.list_table thead {
   background: #323232;
}

.list_table thead th {
   font-size: 16px;
   font-weight: 600;
   font-size: 16px;
   color: #cfcfcf;
   line-height: 1.2;
   text-align: center;
   padding: 13px 10px;
}


.list_table tr {
   border-bottom: 1px solid #323232;
}

.list_table :is(td, th) {
   padding: 20 10px;
   word-wrap: break-word; /* 이거 줘야 테이블에서 내용들 넘치면 줄바꿈 됨. */
   /* word-break: break-all; */
   vertical-align: middle; /* 테이블 내용 세로 정렬: align-items: center라고 보면 됨 */
   text-align: center;
   line-height: 1.3;
}

.order_item {
   gap: 20px;
   align-items: start !important;
}

.order_item .order_txt {
   padding-top: 5px;
   align-items: start !important;
   gap: 15px;
}

.order_item .order_txt > * {text-align: left;}

.order_item .order_txt .brand {
   color: #A8A8A8;
   font-size: 14px;
   font-weight: 600;
}

.order_item .order_txt .title {
   color: #fff !important;
   font-size: 16px !important;
}

.order_item .order_txt .title {
   color: #fff !important;
   font-size: 16px !important;
}

.order_item .option_list {
   gap: 5px;
   align-items: start !important;
}

.order_item .option_list p {
   color: #797979 !important;
   font-size: 14px !important;
}

.order_item .price_box {
   /* background: #ccc; */
   gap: 3px !important;
}

.order_item .price_box p {
   color: #fff !important;
   font-size: 16px !important;
   font-weight: 600 !important;
}

.order_item .price_box p.unit_price {
   color: #797979 !important;
   font-size: 13px !important;
   text-decoration: line-through;
   font-weight: 400 !important;
}





.slide_title {
   font-size: 20px;
}

.ProductSlider {position: relative;}
.ProductSlider .naviBtn {
   position: absolute;
   top: 25%;
   z-index: 100;
   width: 45px; height: 45px;
   border-radius: 50%;
   background: rgba(0,0,0,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.2s;
}

.ProductSlider .prevBtn {left: -20px;}
.ProductSlider .nextBtn {right: -20px;}
.ProductSlider .nextBtn > img {
   transform: rotate(180deg);
}

.ProductSlider .naviBtn:hover {
   background: #000;
}