/* src/components/Select/Select.module.css */

/* 모든 Select 관련 요소에 border-box 적용 */
.selectContainer *,
.selectContainer *::before,
.selectContainer *::after {
  box-sizing: border-box;
}

.selectContainer {
  position: relative; /* Select 컴포넌트 전체를 감싸는 컨테이너 */
  display: inline-block;

  /* 기본 너비, 필요에 따라 조절 */
  /* max-width: 250px; */

  font-family: Arial, sans-serif;
  font-size: 14px;
}

.selectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.selectHeader:hover {
  border-color: #888;
}

.selectHeader.open {
  /* border-color: #007bff; */
  /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.selectedItemsDisplay {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* 내용이 넘칠 경우 ... 처리 */
  color: #333;
}

.arrow {
  margin-left: 10px;
  color: #333;
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
  position: relative;
  bottom: 1px;
}

.arrow.up {
  transform: rotate(-135deg);
}

.optionsContainer {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  z-index: 2000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.optionsContainer.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.optionItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: #333;
}

.optionItem:hover {
  background-color: #fff;
}

.optionItem.selected {
  background-color: #fff;
  font-weight: 600;
}

.optionItem.disabled {
  color: #bbb;
  cursor: not-allowed;
  background-color: #aaa;
}

.checkboxIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #fff;
}

.optionItem.selected .checkboxIcon {
  background-color: #007bff;
  border-color: #007bff;
}

.checkboxIcon svg {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 12px;
  height: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.optionItem.selected .checkboxIcon svg {
  opacity: 1;
}

.inline {
  transition: height 0.3s ease-in-out, opacity 0.1s ease-in-out;
}

.search {
  width: calc(100% - 11.05px);
  height: 100%;
  border: none;
  padding: 10px 0 10px 15px;
}
