.storeItem {
  background-color: #fff;
}

.markerBubble {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  max-width: none;
  padding: 4px 8px;
  background-color: #00c73c;
  color: #fff;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  
}


.markerBubbleActive {
  background-color: blue;
}
