.detail_container {
   width: 100%;
   margin-top: 40px;
   --infoBox-bg : #101113;
   --infoBox-border : #535353;
}



/* 화면 썸네일 */
.detail_thumbnail {
   width: 100%;
   max-width: 600px;
   justify-content: center;
   height: 600px !important;
   overflow: hidden;
}

/* 오른쪽 정보 패널 */
.detail_infoBox {
   border-radius: 10px;
   width: 100%;
   max-width: 615px;
}

.detail_infoBox > * {width: auto;}

.detail_infoBox .brand {
   background: var(--main-color1);
   border-radius: 3px;
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   padding: 4px 6px;
   margin-bottom: 12px;
}

.detail_infoBox .detail_title {
   color: #222;
   font-size: 25px;
   font-weight: 600;
   padding-bottom: 10px;
   line-height: 1.2;
}

.detail_infoBox .price {
   color: #000;
   font-size: 35px;
   font-weight: 700;
   line-height: 1.2;
}




.detail_infoBox .sale_price {
   color: var(--main-color1);
   font-size: 35px;
   font-weight: 800;
   letter-spacing: -1px;
}

.detail_infoBox .regular_price {
   color: #797979;
   font-size: 22px;
   font-weight: 500;
   text-decoration: line-through;
}

.detail_infoBox .delivery_share_box {
   width: 100% !important;
   border: 1px solid #e6e6e6;
   border-left: none;
   border-right: none;
}

.detail_infoBox .delivery_share_box > * {
   width: auto;
   padding: 16px 5px;
}

.detail_infoBox .delivery_share_box .delivery_info {
   gap: 10px;
}

.detail_infoBox .delivery_share_box .delivery_info p {
   font-size: 16px !important;
   color: #222 !important;
   font-weight: 600 !important;
}

.delivery_admin_write_data {
   padding: 20px 0 60px 5px;
}

/* 옵션 상자 */
.option_box {
   padding: 15px;
   border: 1px solid #e6e6e6;
   border-radius: 10px;
   width: 100%;
   gap: 30px;
   margin-bottom: 25px;
}

.option_box .option_item {
   /* justify-content: start !important; */
   gap: 20px;
}

.option_box .txt_item {
   align-items: center;
   gap: 5px;
   font-size: 16px;
   font-weight: 600;
   flex: 1;
   line-height: 1.2;
   text-align: right;
   justify-content: space-between;
}

.option_item .txt_item .op_name {
   max-width: 200px;
   text-align: left !important;
}

.option_item .txt_item .op_name.disabled {
   text-decoration: line-through;
   color: #797979;
}

.total_box {width: 100%; margin-bottom: 25px;}

.total_box .price {
   color: #000;
   font-size: 35px;
   font-weight: 700;
   line-height: 1.2;
}

.total_box .total_txt {
   font-size: 24px !important;
   color: #000 !important;
   font-weight: 600 !important;
}


/* 구매버튼 그룹 */

.buyButton_box {
   --border-style : 1px solid #afafaf;
   gap: 10px; width: 100%;
}

.buyButton_box .heart_btn {
   padding: 13px 12px;
   border: 1px solid #d1d1d1;
   border-radius: 5px;
   background: #fff;
   width: 100%; height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.1s;
}
.buyButton_box .heart_btn:active {
   transform: translateY(var(--btn-active-translate)) scale(var(--btn-active-scale));
}

.buyButton_box .cart_btn {
   background: var(--main-color1);
   border: var(--main-color1);
}

.buyButton_box .cart_btn,
.buyButton_box .buy_btn {
   width: 100%; 
   border-radius: 5px;
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   padding: 15px 5px;
   transition: all 0.1s;
}

.buyButton_box .buy_btn {
   background: var(--default-color);
   color: #fff;
}

.buyButton_box .cart_btn:hover {
   background-color: var(--main-color1-hover);
}
.buyButton_box .cart_btn:active {
   background-color: var(--main-color1-active);
   transform: translateY(var(--btn-active-translate)) scale(var(--btn-active-scale));
}

.buyButton_box .buy_btn:hover {
   background: var(--black-color-hover);
}
.buyButton_box .buy_btn:active {
   background: var(--black-color-active);
   transform: translateY(var(--btn-active-translate)) scale(var(--btn-active-scale));
}


/* 프로덕트 슬라이더 */

.slide_title {
   font-size: 25px;
   font-weight: 600;
}

.ProductSlider {position: relative;}
.ProductSlider .naviBtn {
   position: absolute;
   top: 25%;
   z-index: 100;
   width: 45px; height: 45px;
   border-radius: 50%;
   background: rgba(0,0,0,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.2s;
}

.ProductSlider .prevBtn {left: -20px;}
.ProductSlider .nextBtn {right: -20px;}
.ProductSlider .nextBtn > img {
   transform: rotate(180deg);
}

.ProductSlider .naviBtn:hover {
   background: #000;
}





/* sticky 구매창 */
.mini_infoBox {
   width: 100%;
   max-width: 410px;
   min-width: 290px;
   background: var(--infoBox-bg);
   border: 1px solid var(--infoBox-border);
   padding: 25px 15px;
   border-radius: 10px;
   position: sticky;
   top: 130px;
}

.mini_infoBox .option_item {gap: 20px;}

.mini_infoBox .option_item .txt_item {
   flex-direction: column;
   align-items: end !important;
   font-size: 14px;
   max-width: 185px;
   text-align: right;
   line-height: 1.2;
   flex: unset;
}

.mini_infoBox .total_box {
   flex-wrap: wrap;
}

.mini_infoBox .price p {
   color: var(--main-color1) !important;
}

.mini_infoBox .buyButton_box {
   flex-wrap: wrap;
   justify-content: start !important;
}

.mini_infoBox .buyButton_box > .cart_box {
   width: auto;
   flex: 1;
}

.mini_infoBox .buyButton_box .cart_btn {
   max-width: 100%;
}

.mini_infoBox .buyButton_box .buy_btn {
   width: 100% !important;
   max-width: 100%;
}




/* 하단 상품 정보 탭 컨테이너 */

.contents_container {
   position: relative;
   min-width: 850px;
}

.contents_container .tab_wrap {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   position: sticky;
   top: 64px;
   z-index: 100;
}

.contents_container .tab_wrap .content_tab {
   justify-content: center;
   color: #a7a7a7;
   font-size: 19px;
   font-weight: 500;
   border-bottom: 2px solid #dbdbdb;
   padding: 26px 5px;
   cursor: pointer;
   background-color: #fff;
}

.contents_container .tab_wrap .content_tab.active {
   border-color: var(--main-color1);
   border-width: 3px;
   color: var(--default-color);
   font-weight: 700;
}


/* 하단 정보 스타일 */

.contents_container .content_view {
   padding-top: 40px;
}

/* 탭 내용 바뀔때 애니메이션 변경 */
.tab_fade {
   opacity: 0;
   animation: fadeIn 0.3s ease forwards;
   width: 100%;
}

@keyframes fadeIn {
   to {
      opacity: 1;
   }
}

.list_count {
   margin-left: 8px !important;
   padding: 3px 7px;
   background: #ccc;
   color: #fff;
   font-size: 13px;
   font-weight: 600;
   border-radius: 5px;
   position: relative;
   bottom: 1px;
}
.list_count.active {
   background-color: var(--main-color1);
}