:root {
  --mainBg: #fff;
  --foreground: #333;
  --default-color: #fff;
  --main-color1: #D03238;
  /* --main-color2: #e7156d; */

  --confirmModal-bg: #222;

  --button-disabled-bg: #535353;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  font-size: 16px;
  line-height: 1.4;
  /* word-break: break-all; */
}
.SacheonFont {
  font-family: var(--font-sacheon) !important;
}
html,
body {
  max-width: 100vw;
  /* height: 100%; */
  /* overflow-x: hidden; */
  /* scrollbar-width: none; */
  -ms-overflow-style: none;
  font-family: var(--font-pretendard), var(--font-notosans) !important;
  /* overflow: unset !important; */
}

textarea {
  font-family: var(--font-pretendard), var(--font-notosans) !important;
}

body {
  color: var(--foreground);
  background: var(--mainBg);
  font-family: var(--font-pretendard), var(--font-notosans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* pc용 컨테이너 ------------------ */
.page_container {
  width: 100%;
  max-width: 1274px;
  margin: 0 auto;
  color: var(--default-color);
}

.root {
  padding-top: 180px;
  min-height: 80dvh;
  padding-bottom: 100px;
  color: var(--default-color);
}

div {
  width: 100%;
}

.chrome-picker div {
  width: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

[aria-hidden="true"] {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[aria-hidden]:not([aria-hidden="false"]) {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[hidden="true"] {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[hidden]:not([hidden="false"]) {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}

[aria-hidden="true"] * {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[aria-hidden]:not([aria-hidden="false"]) * {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[hidden="true"] * {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[hidden]:not([hidden="false"]) * {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}

:root {
  --admin-text-color: rgba(51, 51, 51, 0.95);
  --admin-color: var(--main-color2);
  --admin-background-color: var(--main-color2);
  --admin-border-color: var(--main-color2);
  --admin-button-color: var(--main-color2);
  --admin-button-text-color: #fff;
  --bg-base-color: #f4f4f4;
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* 모바일 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* @media (max-width: 1280px) {
  .page_container {
    padding: 0 10px;
  }
} */

@media (max-width: 768px) {
  /* 탭 하이라이트 제거 */
  * {
    -webkit-tap-highlight-color: transparent;
  }

  :root {
    --mob-active-filter: brightness(0.5);
    --subpageHeader-H: 50px;
  }

  /* html {
    max-width: 768px;
  } */
}

.mob_wrap {
  max-width: 768px;
  margin: 0 auto;
}

.mob_page_container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  color: var(--default-color);
  padding: 0 13px;
}

.mob_root {
  padding-top: 95px;
  min-height: 70dvh;
  padding-bottom: 80px;
  color: var(--default-color);
}

/* 디테일 페이지용 */
.detail_root {
  padding-top: var(--subpageHeader-H);
  padding-bottom: 80px;
  min-height: 70dvh;
  color: var(--default-color);
}

.mob_root .swiper .swiper-wrapper {
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-content,
  #print-content * {
    visibility: visible !important;
  }
  #print-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .section-start {
    page-break-before: always;
  }
  .do-not-split {
    page-break-inside: avoid;
  }
}
