:root {
  --mainBg: #221F22;
  --foreground: #333;
  --default-color: #fff;
  --main-color1: #ff62a3;
  --main-color2: #e7156d;


  --button-disabled-bg : #535353;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "suit";
  font-weight: 400;
  font-display: swap;
  src: local("SUIT-Variable"),
    url(./woff2-subset/SUIT-Variable.woff2) format("woff2"),
    url(./woff-subset/SUIT-Variable.woff) format("woff");
}

@font-face {
  font-family: "SacheonHangGong-Regular";
  font-weight: 400;
  font-display: swap;
  src: local("SacheonHangGong-Regular"),
    url(./woff-subset/SacheonHangGong-Regular.woff) format("woff");
}

.SacheonFont {font-family: "SacheonHangGong-Regular", sans-serif !important;}

* {
  font-size: 16px; 
  line-height: 1.4; 
  /* word-break: break-all; */
}

html,
body {
  max-width: 100vw;
  /* height: 100%; */
  /* overflow-x: hidden; */
  /* scrollbar-width: none; */
  -ms-overflow-style: none;
  font-family: "pretendard", sans-serif !important;
  /* overflow: unset !important; */
}

textarea {font-family: "pretendard", sans-serif !important;}

body {
  color: var(--foreground);
  background: var(--mainBg);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* pc용 컨테이너 ------------------ */
.page_container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  color: var(--default-color);
}

.root {
  padding-top: 180px;
  min-height: 80dvh;
  padding-bottom: 100px;
  color: var(--default-color);
}


div {
  width: 100%;
}

.chrome-picker div {
  width: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

[aria-hidden="true"] {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[aria-hidden] {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[hidden="true"] {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[hidden] {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}

[aria-hidden="true"] * {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[aria-hidden] * {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[hidden="true"] * {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}
[hidden] * {
  visibility: hidden !important;
  display: none !important;
  pointer-events: none !important;
}

:root {
  --admin-text-color: rgba(51, 51, 51, 0.95);
  --admin-color: red;
  --admin-background-color: red;
  --admin-border-color: red;
  --admin-button-color: red;
  --admin-button-text-color: #000;
  --bg-base-color: #f4f4f4;
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}


/* 모바일 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* @media (max-width: 1280px) {
  .page_container {
    padding: 0 10px;
  }
} */

@media (max-width: 768px) {

  /* 탭 하이라이트 제거 */
  * {-webkit-tap-highlight-color: transparent;}

  :root {
    --mob-active-filter: brightness(0.8);
  }

  /* html {
    max-width: 768px;
  } */

  
}

.mob_wrap {max-width: 768px; margin: 0 auto;}

.mob_page_container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  color: var(--default-color);
  padding: 0 13px;
}

.mob_root {
  padding-top: 95px;
  min-height: 70dvh;
  padding-bottom: 80px;
  color: var(--default-color);
}

/* 디테일 페이지용 */
.mob_root .detail_root {
  padding-top: 50px;
}

.mob_root .swiper .swiper-wrapper {
  align-items: center;
}

