/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video:not(#tiptap-container) {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* a {
  line-height: 1;
} */

input[type="search"]:focus-visible {
  border: none;
  outline: none;
}

::-webkit-search-cancel-button {
  display: none;
}

/* 컴포넌트 공통 css ----------------------- */

.searchInput_Box {
  border-color: rgba(255, 255, 255, 0.3);
  background: #fff;
}

.searchInput_Box input {
  background: transparent;
  border: none;
  color: #797979;
  width: 100%;
}

.searchInput_Box input::placeholder {
  color: #a9a9a9;
}

/* 리뷰등록, 문의하기, 게시물 등록 버튼 */
.post_btn {
  width: 100% !important;
  max-width: 233px;
  background: var(--main-color1) !important;
  color: #fff !important;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 5px !important;
  transition: all 0.1s;
}

.post_btn:hover {
  background: var(--main-color1) !important;
}

/* 버튼들 비활성화 될 때 */
.disabled {
  background: #444 !important;
  color: #777 !important;
}

/* 기본 인풋 스타일 */
.web_input {
  background: #111111 !important;
  color: #ddd !important;
  border-radius: 5px !important;
  border: 1px solid #4c4c4c !important;
}

.web_input:focus {
  border: 1px solid #fff !important;
}

@media (max-width: 768px) {
  .web_input {
    padding: 10px 12px !important;
  }

  .post_btn {
    width: 100% !important;
    background: var(--main-color1) !important;
    color: #fff !important;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 5px !important;
    transition: all 0.1s;
    max-width: 100%;
  }

  .post_btn:active {
    filter: var(--mob-active-filter);
  }
}

/* 셀렉트 */
/* width는 위에 flexChild 씌워서 그걸로 조정하면 됨. */
.web_select {
  background-color: #222 !important;
  border-radius: 4px !important;
  border: 1px solid #4c4c4c !important;
  color: #fff !important;
  width: 100%;
}

.web_select_search {
  color: #fff !important;
}

.web_select:hover {
  border-color: #fff !important;
}

.web_select_arrow {
  color: #fff !important;
}

.web_select_placholder {
  color: #fff;
}

.web_select_line {
  background: #222 !important;
  color: #fff !important;
}

.web_select_line:hover {
  background: #000 !important;
}

.web_select_line.selected {
  background-color: #000 !important;
  font-weight: 600 !important;
}

/* 검색창 왼쪽 셀렉트 */
.web_search_select {
  width: 100px;
}

.agree_content {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #707070;
  background-color: #2b2b2b;
  padding: 20px;
  height: 200px;
  align-items: start !important;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.6;
  color: #bfbfbf;
}

.modal_body {
  color: #000 !important;
}

/* 모달용 셀렉트(임시) */

.modal_select_body {
  position: relative;
}

.modal_select_body .select_arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  filter: brightness(0.5);
}

.modal_select {
  width: 100%;
  padding: 13px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: none;
  outline: none;
  color: #333;
  appearance: none;
}

.custom-toast-body {
  background: #111;
  border: none;
}

.custom-toast {
  margin: 5px 0 0;
}

/* 컴포넌트 공통 css end ------------------ */
