.quill {
  em {
    font-style: italic;
  }
  strong {
    font-weight: bolder;
  }
  code {
    font-family: monospace;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
  }
  ol {
    display: block;
    list-style-type: decimal;
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    /* padding-inline-start: 40px; */
    padding-inline-start: 0;
    unicode-bidi: isolate;
  }
  pre {
    display: block;
    font-family: monospace;
    unicode-bidi: isolate;
    white-space: pre;
    margin-block: 1em;
    margin-inline: 0px;
  }
  blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
  }
  sub {
    vertical-align: sub;
    font-size: smaller;
  }
  sup {
    vertical-align: super;
    font-size: smaller;
  }
  img {
    width: 100%;
  }
}
.ql-tooltip {
  width: auto;
}
.ql-container,
.ql-editor {
  min-height: 400px;
}

/* Pretendard */
[data-value="Pretendard"].ql-picker-item::before {
  content: "Pretendard" !important;
}

[data-value="Pretendard"].ql-picker-label::before {
  content: "Pretendard" !important;
}

.ql-font-Pretendard {
  font-family: var(--font-pretendard);
}

/* NotoSans */
[data-value="NotoSans"].ql-picker-item::before {
  content: "구글 본고딕" !important;
}

[data-value="NotoSans"].ql-picker-label::before {
  content: "구글 본고딕" !important;
}

.ql-font-NotoSans {
  font-family: var(--font-notosans);
}

/* 나눔바른고딕 */
[data-value="NanumBarunGothic"].ql-picker-item::before {
  content: "나눔 바른 고딕" !important;
}
[data-value="NanumBarunGothic"].ql-picker-label::before {
  content: "나눔 바른 고딕" !important;
}
.ql-font-NanumBarunGothic {
  font-family: var(--font-barun-gothic);
}

/* 나눔붓글씨 */
[data-value="BrushFont"].ql-picker-item::before {
  content: "나눔 붓글씨" !important;
}
[data-value="BrushFont"].ql-picker-label::before {
  content: "나눔 붓글씨" !important;
}
.ql-font-BrushFont {
  font-family: var(--font-brush);
}

/* 나눔고딕 */
[data-value="NanumGothic"].ql-picker-item::before {
  content: "나눔고딕" !important;
}
[data-value="NanumGothic"].ql-picker-label::before {
  content: "나눔고딕" !important;
}
.ql-font-NanumGothic {
  font-family: var(--font-gothic);
}

/* 나눔휴먼 */
[data-value="NanumHuman"].ql-picker-item::before {
  content: "나눔휴먼" !important;
}
[data-value="NanumHuman"].ql-picker-label::before {
  content: "나눔휴먼" !important;
}
.ql-font-NanumHuman {
  font-family: var(--font-human);
}

/* 나눔명조 */
[data-value="NanumMyeongjo"].ql-picker-item::before {
  content: "나눔명조" !important;
}
[data-value="NanumMyeongjo"].ql-picker-label::before {
  content: "나눔명조" !important;
}
.ql-font-NanumMyeongjo {
  font-family: var(--font-myeongjo);
}

/* 나눔펜 */
[data-value="NanumPen"].ql-picker-item::before {
  content: "나눔펜" !important;
}
[data-value="NanumPen"].ql-pciker-label::before {
  content: "나눔펜" !important;
}
.ql-font-NanumPen {
  font-family: var(--font-pen);
}
/* 나늠스퀘어네오 */
[data-value="NanumSqaureNeo"].ql-picker-item::before {
  content: "나늠스퀘어네오" !important;
}

[data-value="NanumSqaureNeo"].ql-picker-label::before {
  content: "나늠스퀘어네오" !important;
}
.ql-font-NanumSqaureNeo {
  font-family: var(--font-square-neo);
}
/* 사천 */
[data-value="Sacheon"].ql-picker-item::before {
  content: "사천항공체" !important;
}
[data-value="Sacheon"].ql-picker-label::before {
  content: "사천항공체" !important;
}
.ql-font-Sacheon {
  font-family: var(--font-sacheon);
}

/* Icon UI */
.ql-formats {
  border-right: 1px solid #d0d0d0;
  padding-right: 10px;
  margin-right: 10px !important;
}
.ql-fontsize {
  width: 100% !important;
  cursor: default !important;
}
.ql-container {
  background-color: #ededed;
  overflow: auto;
}
.ql-editor {
  background-color: #fff;
  transform-origin: center 0;
  transition: transform 0.1s ease-out;
  position: relative;
}
.a4 .ql-editor {
  width: 210mm;
  margin: 0 auto;
}
.a4 .ql-container {
  padding: 10px 20px;
}
.a4 .ql-container,
.ql-editor {
  min-height: 297mm;
}

.ql-disabled .textform {
  resize: none !important;
}
.textform {
  text-align: center;
  resize: horizontal;
  border: 1px dotted red;
  border-bottom: 1px solid #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.boxform {
  text-align: center;
  resize: horizontal;
  border: 5px double #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ql-disabled .boxform {
  resize: none;
  pointer-events: none;
  cursor: default;
}
.signfloat {
  border: 1px solid #d0d0d0;
  font-size: 2em;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  background-color: #fff;
  color: #505050;
  font-weight: 300;
}
.signfloat:hover {
  cursor: pointer;
}
.signform {
  width: 0;
  height: 0;
}

.ql-disabled .signfloat {
  resize: none;
}
.ql-disabled .close-btn {
  pointer-events: none;
  display: none;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 20px;
  min-width: 20px;
  width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
}
.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  width: 20px; /* 막대 길이 */
  height: 2px; /* 막대 굵기 */
  background-color: #333;
}
.close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg); /* 중심 맞추고 45도 회전 */
}

.close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg); /* 중심 맞추고 -45도 회전 */
}

.signfloat::after {
  content: "(서명)";
}

[data-signature].signform .signfloat::after {
  content: "";
}
