.confirmButton {
  cursor: pointer;
  background-color: var(--admin-background-color);
  border: 1px solid var(--admin-border-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: relative;
}

.confirmButton.main {
  background-color: var(--main-color2, var(--admin-color));
  border: 1px solid var(--main-color2, var(--admin-border-color));
}

.confirmButton.admin {
  background-color: var(--admin-color, red);
}

.confirmButton.white {
  background-color: #ffffff;
}
.confirmButton.white:active {
  background-color: #ffffff 1f4;
}

.close_box {
  position: absolute;
  right: 0;
  top: 0;
}

.closeButton {
  background-color: transparent !important;
  color: #999 !important;
  padding: 0 !important;
  z-index: 1;
  font-size: 24px;
  line-height: 0;
}

.normal_title {
  color: #fff;
  border-bottom: 1px solid #797979;
}
.tab {
  color: #fff;
  border-bottom: 2px solid #e0e0e011;
  padding: 10px;
  cursor: pointer;
}
.tab.selected {
  border-bottom: 2px solid #fff;
}

.input {
  padding: 8px;
}

.selectHeader {
  padding: 8px;
  height: 39px;
}
.selectHeader div {
  font-weight: 500;
  color: #111;
}

.title {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.fontTextWrapper {
  justify-content: center;
  background-color: #fff;
  border: 3px solid #888;
}
.fontText {
  text-align: center;
  justify-content: center;
  font-size: 85px;
  line-height: 1.1;
  cursor: pointer;
  padding: 5px;
}
.fontTextWrapper:hover {
  border-color: var(--admin-color);
}
.fontTextWrapper.selected {
  border-color: var(--admin-color);
}

.button {
  padding: 8px 18px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #888;
}

.button2 {
  padding: 8px 18px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: var(--admin-color);
}
