.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.findBox {
  gap: 50px;
  width: 100%;
  max-width: 460px;
}

.findBox .title_box {
  color: #fff;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}

.findBox .input_wrap {
  background: #222;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 45px;
  gap: 20px;
}

.input_wrap .sub_title {
  text-align: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input_wrap .sub_title > * {
  width: auto;
}

.input_wrap .sub_title > .title {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.input_wrap .sub_title > .txt {
  font-size: 16px;
  color: #fff;
}

.input_wrap .input_box {
  color: #efefef;
  gap: 10px;
  font-size: 16px;
}

.find_id_link {
  gap: 10px;
  font-size: 14px;
  color: #fff;
}

.find_id_link .link_btn {
  text-decoration: underline;
  color: var(--main-color1) !important;
  cursor: pointer;
}

.find_id_link .link_btn:active {
  color: var(--main-color2) !important;
}

.findBox .btn {
  width: 100%;
  cursor: pointer;
  max-width: 180px;
  justify-content: center;
  padding: 17px 10px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.2s;
}

.findBox .next_btn {
  background: var(--main-color1);
  color: #fff;
}
.findBox .next_btn:hover {
  background: var(--main-color2);
}

.findBox .prev_btn {
  background: #ccc;
  color: #4d4d4d;
}
.findBox .prev_btn:hover {
  background: gray;
}

/* 메일 인증 */
.input_wrap .mail_data {
  justify-content: center;
  margin-bottom: 30px;
  color: #b7b7b7;
}

.disabled {
  cursor: not-allowed !important;
  background: gray;
}

.wrapper {
  width: 600px;
  max-width: 600px;
  min-width: 600px;
  position: relative;
}

.title {
  width: 100%;
  font-weight: 800;
  font-size: 24px;
  color: #1c1b1f;
  white-space: pre-wrap;
  text-align: center;
  line-height: 1.5;
}

.title2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  color: #1c1b1f;
  white-space: pre-wrap;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8b8b8b;
  white-space: pre-wrap;
  text-align: center;
}

.certificationBox {
  border: 1px solid #eaeaea;
  /* border-radius: 8px; */
  padding: 18px;
  justify-content: center;
  cursor: pointer;
}
.certificationBox:first-child {
  border-top-left-radius: 4px;
}
.certificationBox:last-child {
  border-top-right-radius: 4px;
}
.certificationBox.selected {
  border-color: #ff6a00;
}
.certificationContent {
  padding: 40px 45px;
  border: 1px solid #d9d9d9;
  max-width: 600px;
  width: 600px;
}

.button {
  padding: 12.5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5rem;
  background-color: #ff6a00;
}
.button:disabled {
  background-color: #d9d9d9;
}
.button.white {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  color: #474747;
  font-weight: 600;
  font-size: 18px;
}
.button.reverse {
  border: 1px solid #ff6a00;
  color: #ff6a00;
  background-color: #fff;
}

.mailWrapper {
  padding: 20px;
  background-color: #f8f8f8;
}

.mailLabel {
  font-weight: 600;
  font-size: 14px;
  color: #8b8b8b;
}
.mailValue {
  font-weight: 600;
  font-size: 16px;
  color: #474747;
}

.forgetPW {
  font-weight: 500;
  font-size: 15px;
  color: #1c1b1f;
}
.findPW {
  font-weight: 500;
  font-size: 15px;
  text-decoration: underline;
  color: #ff6a00;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center; /* 수직 정렬 */
  text-align: center;
  width: 363px;
}

.divider-text {
  padding: 0 1em; /* 좌우 여백 */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 방지 */
}

.divider::before,
.divider::after {
  content: ""; /* 가상 요소를 생성 */
  flex: 1; /* 남은 공간을 모두 채우도록 확장 */
  border-bottom: 1px solid #eaeaea; /* 가로선 스타일 */
}

.phoneStationBox {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: #1c1b1f;
}

.timer {
  position: absolute;
  top: 18px;
  right: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #ff6a00;
}
.resend {
  position: absolute;
  top: 18px;
  right: 12px;
  font-weight: 500;
  font-size: 14px;
  color: #474747;
  text-decoration-line: underline;
}
.inputRequire {
  font-weight: 600;
  font-size: 14px;
  color: #ff6a00;
}

.inputError {
  font-weight: 500;
  font-size: 13px;
  color: #ea4335;
}

.inputLabel {
  font-weight: 600;
  font-size: 14px;
  color: #1c1b1f;
}
.input {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 15px 12px;
  font-weight: 500;
  font-size: 15px;
  color: #1c1b1f;
}

.input:focus {
  border-color: #ff6a00;
}

.confirmButton {
  background-color: #ff6a00 !important;
}

.copyright {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.3;
  color: #8b8b8b;
}
