/* 사이드네비 */

#sideNavi {
  position: fixed;
  right: 20px;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 120px;
  height: auto;
  z-index: 100;
}

#sideNavi .outer_box {
  overflow: hidden;
  border-radius: 7px;
}

#sideNavi .outer_box > * {
  width: 100%;
}

#sideNavi .outer_box .hotDeal_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: #050505;
  gap: 3px;
}
#sideNavi .outer_box .hotDeal_link h4 {
  color: #ff4a4d;
  font-size: 14px;
  line-height: 1;
}

#sideNavi .outer_box .link_list {
  background: #3a3a3a;
}

#sideNavi .outer_box .link_list > li {
  color: #ededed;
  background: transparent;
  transition: all 0.1s;
}

#sideNavi .outer_box .link_list > li a {
   padding: 10px 3px;
   font-size: 14px;
   color: inherit;
   line-height: 1;
   text-align: center;
   display: block; width: 100%;
   transition: inherit;
   position: relative;
}

.sideNavi_count {
  transform: translateY(-50%);
}

#sideNavi .outer_box .link_list > li:hover {
  background: #111;
  color: var(--main-color1);
}

.chat_btn {
  position: fixed;
  bottom: 10%;
  right: 50px;
  width: auto;
  z-index: 101;
}

.chat_btn button {
  background: none;
  padding: 0;
}
.chat_number {
  position: absolute;
  background-color: var(--main-color2);
  z-index: 2;
  border-radius: 5px;
  width: max-content;
  top: -3px;
  right: -5px;
  padding: 5px 6px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
