.cart_length_pc {
   padding: 3px 2px;
   box-sizing: border-box;
   width: 100%;
   width: 16px;
   background: var(--main-color1);
   justify-content: center !important;
   font-size: 12px;
   font-weight: 700;
   border-radius: 5px;
   position: absolute;
   z-index: 2;
   color: #fff;
   text-align: center;
}




.cart_length_mob {
   padding: 3px 2px;
   width: 100%;
   max-width: 15px;
   background: var(--main-color2);
   justify-content: center !important;
   font-size: 11px;
   border-radius: 5px;
   position: absolute;
   z-index: 2;
   color: #fff;
   text-align: center;
}