
.container {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100dvh;
   justify-content: center;
   gap: 30px;
   align-items: center;
}

.naviBtn {
   width: auto !important;
}

.not_txt {
   color: #000000;
   font-size: 25px;
   font-weight: 500;
}

.btn {
   width: 200px;
   padding: 13px 10px;
   background: #444;
   justify-content: center !important;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
   transition: all 0.2s;
}

.Back_btn {
   border: 1px solid #777;
}

.home_btn {
   background: var(--main-color1);
}

.Back_btn:hover {
   background: #222;
}

.home_btn:hover {
   background: var(--main-color1);
}

@media (max-width: 768px) {

   .not_txt {
      font-size: 20px;
   }

   .naviBtn {
      flex-direction: column;
   }
}