.titleBox {
   margin-bottom: 50px;
}

.titleBox .title {
   display: flex;
   flex-direction: column;
   width: auto;
}

.titleBox .title h2 {
   display: flex;
   align-items: end;
   color: #fff;
   font-size: 40px;
   line-height: 1;
   gap: 5px;
}