.list {
   margin-bottom: 80px;
}

.titleBox {margin-bottom: 20px;}

.titleBox .page_list {
   overflow-x: auto;
   width: 100%;
   display: flex;
   gap: clamp(20px, calc(100vw * 30 / 768), 30px);
   align-items: center;
   padding-bottom: 7px;
}

.titleBox .page_list > a {
   font-size: clamp(16px, calc(100vw * 18 / 768), 18px);
   white-space: nowrap;
   font-weight: 500;
   color: rgba(0,0,0,0.5);
   text-transform: uppercase;
   position: relative;
}

.titleBox .page_list > a::before {
   content:'';
   position: absolute;
   right: 0;
   bottom: -40%;
   width: 0;
   height: 4px;
   background: var(--main-color1);
   transition: all 0.3s;
}

.titleBox .page_list > a.active {color: var(--main-color1); font-weight: 600;}
.titleBox .page_list > a.active::before {width: 100%;}

.category_select {
   border-radius: 5px;
   border: 1px solid #797979;
   padding: 10px 15px;
   width: 100%;
   max-width: 768px;
   justify-content: center;
   position: relative;
   font-size: 15px;
   font-weight: 500;
   color: #797979;
   margin-bottom: 25px;
}
.category_select img {
   filter: brightness(0);
   position: absolute;
   top: 50%;
   right: 15px;
   transform: translateY(-50%);
}

.category_menu {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   /* grid-auto-rows: minmax(112px, auto); */
   width: fit-content;
   gap: 15px;
   width: 100%;
   max-width: 768px;
   padding: 10px 15px 30px;
   overflow-y: auto;
   height: 100%;
}

.category_menu > * {
   flex: unset !important; 
}

.category_menu .ca_item { 
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 10px;
   cursor: pointer;
   padding: 15px 5px 10px;
   box-shadow: 3px 4px 10px rgba(0,0,0,0.07);
   border-radius: 10px;
   background: #fff;
}

@media (min-width: 700px) {
   .category_menu .ca_item {
      padding: 20px 5px;
   }
}

.category_menu .ca_item .ca_img {
   width: clamp(50px, calc(100vw * 60 / 768), 60px);
   height: clamp(43px, calc(100vw * 53 / 768), 53px);
   justify-content: center !important;
}
.category_menu .ca_item .ca_img img {
   width: auto; height: 100%;
}

.category_menu .ca_item .text_box {gap: 3px; flex: unset !important;}

.category_menu .ca_item h5 {
   font-size: clamp(13px, calc(100vw * 15 / 768), 15px);
   color: #000;
   font-weight: 600;
   text-align: center;
}

.category_menu .ca_item span {
   font-size: clamp(10px, calc(100vw * 13 / 768), 13px);
   color: rgba(0,0,0,0.2);
   font-weight: 900;
   text-align: center;
   text-transform: uppercase;
}

.category_menu .ca_item.active {
   border: 2px solid var(--main-color1);
}


.sort_group {align-items: end !important; margin-bottom: 20px;}

.sort_group .count_txt {
   font-size: 16px;
   color: #000;
}

.sort_group .count_txt p > b {
   font-weight: 600 !important;
}

.sort_group .sort_box {
   width: auto;
   gap: 10px;
}

.sort_group .sort_box .sort_btn {
   padding: 5px 9px;
   border: 1px solid #D4D4D4;
   border-radius: 3px !important;
   background: transparent;
   font-size: 15px;
   line-height: 1;
   color: #e4e4e4;
   transition: all 0.1s;
}

.sort_group .sort_box .sort_btn:hover,
.sort_group .sort_box .sort_btn.active {
   background: #050505;
   color: var(--main-color1);
   border-color: var(--main-color1);
}




/* 더보기 버튼 */
.list_more_btn {
   background: var(--main-color1);
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   border-radius: 5px;
   padding: 6px 10px;
   transition: all 0.1s;
}

.list_more_btn:active {
   filter: var(--mob-active-filter);
}


/* 베스트, 신상품용 카테고리 필터 */


@media (max-width: 680px) {
   .filter_box {
      align-items: start !important;
      padding: 5px 0 15px;
      overflow-x: auto;
   }

   
   .filter_box::-webkit-scrollbar {height: 7px;}
   .filter_box::-webkit-scrollbar-thumb {
     background-color: #111;
     border-radius: 4px;
   }
   
   .filter_box::-webkit-scrollbar-track {
     background: #797979;
     border-radius: 4px;
   }
}