.title_box {
   margin-bottom: 20px;
}

.title_box h3 {
   font-size: 25px;
   margin-bottom: 35px;
   line-height: 1;
   font-weight: 700;
}


.sort_group {align-items: end !important; margin-bottom: 20px;}

.sort_group .count_txt {
   font-size: 16px;
   color: #fff;
}

.sort_group .count_txt p > b {
   font-weight: 600 !important;
}

.sort_group .sort_box {
   width: auto;
   gap: 10px;
}

.sort_group .sort_box .sort_btn {
   padding: 5px 9px;
   border: 1px solid #D4D4D4;
   border-radius: 3px !important;
   background: transparent;
   font-size: 15px;
   line-height: 1;
   color: #e4e4e4;
   transition: all 0.1s;
}

.sort_group .sort_box .sort_btn:hover,
.sort_group .sort_box .sort_btn.active {
   background: #050505;
   color: var(--main-color1);
   border-color: var(--main-color1);
}

/* 메인 카테고리 */
.category_wrap {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: fit-content;
   gap: 12px;
   width: 100%;
   max-width: 768px;
   overflow-x: auto;
   padding: 5px 0;
}

.category_wrap > * {
   flex: unset !important;
}

.category_wrap .ca_item {
   gap: 5px;
   font-size: 11px;
   text-align: center;
   color: #f4f4f4;
   cursor: pointer;
}

.category_wrap .ca_item .ca_thumb {
   border-radius: 100%;
   overflow: hidden;
   transition: inherit;
   justify-content: center;
   width: 66px;
}
/* 메인 카테고리 end --------------------------*/

.category_wrap .ca_item:hover,
.category_wrap .ca_item.active {
   color: var(--hover-color);
}

.category_wrap .ca_item:hover .ca_thumb,
.category_wrap .ca_item.active .ca_thumb {
   border-color: var(--hover-color);
}

.category_wrap .ca_all .ca_thumb {
   background: #2D2D2D;
   justify-content: center !important;
   font-size: 18px; font-weight: 600;
}


/* 메인 카테고리  end -------------------*/



/* 중분류, 소분류 카테고리 */
.category_list {
   display: flex;
   gap: 20px;
   align-self: start;
   /* margin-bottom: 20px; */
}

.category_list > li {
   color: #fff;
   font-weight: 400;
   line-height: 1;
   text-align: center;
   opacity: 0.5;
   cursor: pointer;
}

.category_list > li.active {
   opacity: 1; font-weight: 500;
}



/* 더보기 버튼 */
.list_more_btn {
   background: var(--main-color1);
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   border-radius: 5px;
   padding: 6px 10px;
   transition: all 0.1s;
}

.list_more_btn:active {
   filter: var(--mob-active-filter);
}


/* 베스트, 신상품용 카테고리 필터 */


@media (max-width: 680px) {
   .filter_box {
      align-items: start !important;
      padding: 5px 0 15px;
      overflow-x: auto;
   }

   
   .filter_box::-webkit-scrollbar {height: 7px;}
   .filter_box::-webkit-scrollbar-thumb {
     background-color: #111;
     border-radius: 4px;
   }
   
   .filter_box::-webkit-scrollbar-track {
     background: #797979;
     border-radius: 4px;
   }
}

.cat_filter_wrap {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   width: fit-content;
   /* justify-content: center; */
   gap: 12px;
   width: fit-content;
}

.cat_filter_wrap > * {
   flex: unset !important;
}

.cat_filter_wrap .ca_item {
   gap: 10px;
   font-size: 12px;
   text-align: center;
   color: #f4f4f4;
   cursor: pointer;
   --hover-color : var(--main-color1);
   transition: all 0.2s;
   width: auto;
}

.cat_filter_wrap .ca_item .ca_thumb {
   --size: clamp(50px, calc(100vw * 66 / 360), 120px );
   /* min(66px, calc(100vw * 66 / 360)) */
   /* --size: 66px; */
   border-radius: 10px;
   border: 3px solid transparent;
   overflow: hidden;
   transition: inherit;
   width:  var(--size);
   height: var(--size);
   justify-content: center;
}

.cat_filter_wrap .ca_item:hover,
.cat_filter_wrap .ca_item.active {
   color: var(--hover-color);
}

.cat_filter_wrap .ca_item:hover .ca_thumb,
.cat_filter_wrap .ca_item.active .ca_thumb {
   border-color: var(--hover-color);
}

.cat_filter_wrap .ca_all .ca_thumb {
   background: #2D2D2D;
   justify-content: center !important;
   font-size: 18px; font-weight: 600;
}


/* 랭크 아이콘 */
.item_wrap {position: relative;}

.item_wrap .rank {
   position: absolute;
   top: 7px; left: 7px;
   width: 25px; height: 25px;
   background: #050505;
   color: #fff;
   font-size: 15px;
   z-index: 2;
   align-items: center;
   justify-content: center;
   border-radius: 3px;
}
.item_wrap .topRank {
   background: #ffcc00;
}
.item_wrap .rank span {position: relative; top: 2px;}