.lineBanner {
   width: 100%;
}

.slideFrams {
   background: var(--main-color1);
   overflow: hidden;
   padding-top: 10px;
   padding-bottom: 10px;
}

.slideFrams :global(.swiper-wrapper) {
   transition-timing-function: linear !important; 
   position: relative;
}

.slideFrams .slideItem span {
   color: #fff;
   font-size: 14px !important;
}

/* 모바일 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.mob_lineBanner .slideFrams {
   padding-top: 7px;
   padding-bottom: 7px;
}

.mob_lineBanner .slideItem span {
   font-size: clamp(13px, calc(100vw * 15 / 768), 15px) !important;

}