/* 중분류, 소분류 카테고리 */
.category_list {
   display: flex;
   gap: 20px;
   align-self: start;
   /* margin-bottom: 20px; */
}

.category_list > li {
   color: #fff;
   font-weight: 400;
   line-height: 1;
   text-align: center;
   opacity: 0.5;
   cursor: pointer;
   transition: 0.2s;
}

.category_list > li.active,
.category_list > li:hover {
   opacity: 1; font-weight: 500;
}