.confirmButton {
  cursor: pointer;
  background-color: var(--admin-background-color);
  border: 1px solid var(--admin-border-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: relative;
}

.confirmButton.main {
  background-color: var(--main-color1, var(--admin-color));
  border: 1px solid var(--main-color1, var(--admin-border-color));
}

.confirmButton.admin {
  background-color: var(--admin-color, red);
}

.confirmButton.white {
  background-color: #ffffff;
}
.confirmButton.white:active {
  background-color: #ffffff 1f4;
}

.close_box {
  position: absolute;
  right: 0;
  top: 0;
}

.closeButton {
  background-color: transparent !important;
  color: #999 !important;
  padding: 0 !important;
  z-index: 1;
  font-size: 24px;
  line-height: 0;
}

.normal_title {
  color: #fff; border-bottom: 1px solid #797979;
}