.edit_container {gap: 35px;}
.edit_container .thumb_box {gap: 15px;}
.edit_container .thumb_box .thumbnail {
   border-radius: 50%;
   overflow: hidden;
   justify-content: center;
   width: auto;
}

.edit_container .thumb_box .photo_edit_btn {
   border: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   padding: 7px 13px;
   transition: all 0.2s;
}

.edit_container .thumb_box .photo_edit_btn:hover {
   background-color: var(--main-color1);
   border-color: var(--main-color1);
}


.info_box {
   width: 100%;
   max-width: 500px;
   margin: 0 auto;
   align-items: start !important;
   gap: 30px;
}

.info_box .input_label {
   color: #ddd; font-size: 18px;
   font-weight: 500;
}

.info_box .input_box {
   align-items: start !important;
   gap: 15px;
}

.inputError{
  padding-top: 2px;
  color: #da1e1e;
  font-size: 12px;
}


.button_group {
   gap: 10px;
   justify-content: center;
   padding-bottom: 50px;
}

.button_group > button {
   padding: 13px 10px;
   border-radius: 5px;
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   width: 100%;
   max-width: 130px;
}

.button_group .cancel_btn {
   background: transparent;
   border: 1px solid #fff;
}

.button_group .submit_btn {
   background: var(--main-color1);
}