
.delivery_wrap {
   padding:  0 10px;
}

.delivery_wrap .delivery_title {
   padding-bottom: 15px;
   border-bottom: 1px solid #d4d4d4;
   margin-bottom: 20px;
}

.delivery_wrap .delivery_title h3 {
   font-size: 16px;
   color: #000;
   font-weight: 600;
}

.delivery_wrap .content {
   align-items: start !important;
   gap: 35px;
}

.delivery_wrap .content .item {
   align-items: inherit !important;
   gap: 16px;
}

.delivery_wrap .content .item h4 {
   font-size: 16px; 
   color: #222;
   font-weight: 600;
}

.delivery_wrap .content .item h5 {
   font-size: 14px; color: #222;
   font-weight: 600;
}

.delivery_wrap .content .item p {
   font-size: 12px; color: #797979;
   line-height: 1.4;
}