.mainHeader {
  padding: 15px;
  position: sticky;
  /* background-color: #f8f8f8; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  transition: background-color 0.3s, box-shadow 0.3s;
  color: black;
  z-index: 1;
  top: 0;
  background-color: #fff;
}

.mainHeader.scrolled {
  /* background-color: #fff; */
  /* color: black; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  /* border-bottom: 1px solid #eee; */
}
