.myOrder_box .search_box {
   gap: 25px;
   align-items: start !important;
}
.myOrder_box .search_box > * {
   width: auto; gap: 15px;
   flex: unset;
   align-items: start !important;
   justify-content: start !important;
}

.myOrder_box .search_box h5 {
   font-size: 18px;
   color: #fff; font-weight: 500;
}


/* 검색창 */
.search_input_box {
   width: 50% !important;
}
.search_input_box .keyword {
   position: relative;
   width: 100%;
}

.search_input_box .keyword button {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
}

.search_input_box .search {
   width: 420px; padding-right: 45px;
}



/* 기간선택 */
.picker_input_box {
   width: 50% !important;
}
.picker_input_box .dataPicker_box {
   gap: 15px;
   align-items: flex-start !important;
}

.picker_input_box .dataPicker_box .btn_wrap {
   gap: 10px; flex-wrap: wrap;
}
.picker_input_box .dataPicker_box .btn_wrap .term_btn {
   padding: 10px 5px;
   width: 100%;
   max-width: 100px;
   border: 1px solid #797979;
   border-radius: 5px;
   font-size: 16px;
   color: #797979;
}

.picker_input_box .dataPicker_box .btn_wrap .term_btn.active {
   color: #fff;
   border-color: #fff;
}

.picker_input_box .dataPicker_box .picker_wrap {gap: 10px;}
.picker_input_box .dataPicker_box .picker_input {color: #ddd !important;}


/* 주문내역 리스트 */
.order_group .order_header {margin-bottom: 20px;}
.order_group .order_header > * {width: auto;}
.order_group .order_top_info {gap: 10px;}

.order_group .order_top_info .order_code {
   font-size: 15px;
   color: #797979;
}

.order_group .order_top_info .bank_transfer {
   font-size: 14px;
   color: var(--main-color1);
}


.order_group:not(:last-child) {
   padding-bottom: 30px;
   border-bottom: 1px solid #373737;
}

.order_group .order_btn_group {gap: 10px;}


.order_items_container .list_item {padding: 20px 0 25px 10px;}
.order_items_container .list_item:not(:last-child) {
   border-bottom: 1px solid #797979;
}


.order_items_container .list_item .unit {
   align-items: start !important;
}

.order_items_container .list_item .unit .unit_content {padding-left: 20px;}
.order_items_container .list_item .unit .unit_content .unit_brand {
   font-size: 13px !important;
   color: #797979;
}
.order_items_container .list_item .unit .unit_content .unit_title {
   line-height: 1.3;
   cursor: pointer;
}

.order_items_container .list_item .unit .unit_content .unit_title:hover{
   text-decoration: underline;
}

.order_items_container .list_item .unit .unit_content .unit_variant {
   font-size: 14px !important;
   line-height: 1.3;
   color: #c7c7c7;
}

.datePickerWrapper :global(div[class*="dateDisplay"]) {
   width: 95.5%;
   box-sizing: border-box;
   /* background: #222; */
   background: var(--main-color);
   border-color: #797979;
   color: #ddd;
 }

 .item_price_box {
   flex: unset;
   width: 30%;
   padding-bottom: 30px;
   gap: 10px;
 }
 .item_price_box span,
 .item_price_box p {word-break: break-all !important;}


 .order_summary {
   padding: 16px;
   background-color: #383838;
   border-top: 1px solid #444;
   border-radius: 8px;
   gap: 16px;
 }


/* 환불, 교환 처리중 박스 */

.refunds_wrap {
   gap: 20px;
}

.refunds_box {
   border-radius: 10px;
   background: #383838;
   padding: 15px;
   margin-top: 10px;
   width: auto;
   flex: unset;
}

.refunds_box .item {
   gap: 25px;
   font-size: 14px;
}



 .order_detail_btn {
   background: none;
   border: 1px solid #ccc;
   font-weight: 300;
   font-size: 14px;
   transition: all 0.1s;
 }

 .order_detail_btn:hover {
   background: #444;
 }

 .review_btn {
   background: var(--main-color1);
   border: none;
   font-weight: 600;
 }

 .review_btn:hover {
   background: var(--main-color1);
 }


