.pagingBox {
   width: 100%;
   justify-content: center !important;
   gap: 8px;
}

.pagingBox > * {
   width: auto;
   flex: unset !important;
   cursor: pointer;
}

.pagingBox .paging {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 2px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}

.pagingBox > .num_btn {
   font-size: 13px; 
   font-weight: 600;
   border: none;
}

.pagingBox > .num_btn.active {
   background: #434343;
}


@media (max-width: 768px) {
   .pagingBox {
      gap: 5px;
   }

   .pagingBox .paging {
      width: 30px;
      height: 30px;
   }

   .pagingBox > .num_btn {
      font-size: 12px; 
   }
}