.pagingBox {
   width: 100%;
   justify-content: center !important;
   gap: 8px;
}

.pagingBox > * {
   width: auto;
   flex: unset !important;
   cursor: pointer;
}

.pagingBox .paging {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 2px solid var(--main-color1);
   display: flex;
   align-items: center;
   justify-content: center;
}

.pagingBox > .num_btn {
   font-size: 14px; 
   font-weight: 700;
   border: none;
   color: #222;
}

.pagingBox > .num_btn.active {
   background: var(--main-color1);
   color: #fff;
}


@media (max-width: 768px) {
   .pagingBox {
      gap: 5px;
   }

   .pagingBox .paging {
      width: 30px;
      height: 30px;
   }

   .pagingBox > .num_btn {
      font-size: 12px; 
   }
}