.titleBox {
   margin-bottom: 40px;
   gap: 20px;
}

.titleBox .title h2 {
   color: var(--main-color1);
   font-size: 50px;
   line-height: 1;
   font-weight: 700;
}

.titleBox .title h2 small {
   font-size: 0.6em;
}

.titleBox .page_list {
   display: flex;
   align-items: baseline;
   gap: 30px;
}

.titleBox .page_list > a {
   font-size: 18px;
   color: rgba(0,0,0,0.5);
   font-weight: 500;
   position: relative;
   text-transform: uppercase;
}

.titleBox .page_list > a::before {
   content:'';
   position: absolute;
   right: 0;
   bottom: -40%;
   width: 0;
   height: 3px;
   background: var(--main-color1);
   transition: all 0.3s;
}

.titleBox .page_list > a.active {font-weight: bold;}

.titleBox .page_list > a.active,
.titleBox .page_list > a:hover {color: var(--main-color1);}

.titleBox .page_list > a.active::before,
.titleBox .page_list > a:hover::before {right: unset; left: 0; width: 100%;}




.list_wrap {
   max-width: 992px;
}


.sort_group {align-items: end !important; margin-bottom: 20px;}

.sort_group .count_txt {
   font-size: 16px;
}

.sort_group .count_txt p > b {
   font-weight: 600 !important;
}

.sort_group .sort_box {
   width: auto;
   gap: 10px;
}

.sort_group .sort_box .sort_btn {
   padding: 5px 9px;
   border: 1px solid #D4D4D4;
   border-radius: 3px !important;
   background: transparent;
   font-size: 15px;
   line-height: 1;
   color: #e4e4e4;
   transition: all 0.1s;
}

.sort_group .sort_box .sort_btn:hover,
.sort_group .sort_box .sort_btn.active {
   background: #050505;
   color: var(--main-color1);
   border-color: var(--main-color1);
}

/* 카테고리 메뉴 */

.category_menu {
   display: flex;
   flex-direction: column;
   gap: 25px;
   width: auto;
   min-width: 200px;
}

.category_menu .title > h3 {
   font-size: 20px;
   font-weight: 700;
   color: #000;
}

.category_menu .title > .reset_btn {
   padding: 2px 8px !important;
   border: 1px solid #6d6d6d !important;
   border-radius: 100px;
   background: #fff;
   font-size: 12px;
   color: #6d6d6d;
   font-weight: 600;
   transition: all 0.2s;
}

.category_menu .title > .reset_btn:hover {
   border-color: var(--main-color1) !important;
   color: var(--main-color1);
}

.ca_list {gap: 30px;}

.ca_list .ca_item {
   gap: 10px;
   font-size: 18px;
   color: #202020;
   cursor: pointer;
   transition: all 0.2s;
   font-weight: 600;
}

.ca_list .ca_item.active {color: var(--main-color1);}
.ca_list .ca_item.active img {filter: brightness(0);}



/* 카테고리 메뉴  end -------------------*/




/* .motion_wrap {
   animation: itemOpacity 1s forwards;
   transition-delay: calc(var(--index_count) * 1s);
}

@keyframes itemOpacity {
   from {opacity: 0; transform: translateY(10%);}
   to {opacity: 1; transform: translateY(0);}
} */