.edit_container {
   gap: 50px;
   padding: 0 10px;
}
.edit_container .thumb_box {gap: 15px;}
.edit_container .thumb_box .thumbnail {
   border-radius: 50%;
   overflow: hidden;
   justify-content: center;
   width: auto;
}

.edit_container .thumb_box .photo_edit_btn {
   border: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   padding: 5px 13px;
   transition: all 0.2s;
   font-size: 12px;
}


.info_box {
   width: 100%;
   max-width: 500px;
   margin: 0 auto;
   align-items: start !important;
   gap: 30px;
}

.info_box .input_label {
   color: #ddd; font-size: 16px;
   font-weight: 500;
}

.info_box .input_box {
   align-items: start !important;
   gap: 15px;
}

.button_group {
   gap: 10px;
   justify-content: center;
   padding-bottom: 50px;
}

.button_group > button {
   padding: 7px 10px;
   border-radius: 5px;
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   width: 100%;
}

.button_group .cancel_btn {
   background: transparent;
   border: 1px solid #fff;
}

.button_group .submit_btn {
   background: var(--main-color2);
}