.subHeader {
   position: fixed;
   z-index: 1100;
   padding: 12px 15px;
   height: auto;
   background: #272727;
}

.subHeader > * {
   width: auto;
}

.subHeader .page_title {
   font-size: 20px;
   color: #fff;
   font-weight: 600;
}

.cart_btn {
   position: relative;
}

.cart_btn .cart_length {
   padding: 3px 4px;
   width: 100%;
   max-width: 20px;
   background: var(--main-color2);
   justify-content: center !important;
   font-size: 11px;
   border-radius: 5px;
   position: absolute;
   z-index: 2;
   bottom: -3px;
   right: -5px;
   color: #fff;
}