.subHeader {
   position: fixed;
   z-index: 1100;
   padding: 12px 15px;
   height: auto;
   background: #272727;
   height: var(--subpageHeader-H) !important;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

.subHeader > * {
   width: auto;
}

.subHeader .page_title {
   font-size: 20px;
   color: #fff;
   font-weight: 600;
}

.cart_btn {
   position: relative;
}