html {
    max-width: 768px;
  }

  .page_container {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
    color: var(--default-color);
    padding: 0 10px;
  }

  .root {
    padding-top: 95px;
    min-height: 70dvh;
    padding-bottom: 20px;
    color: var(--default-color);
  }

  /* 디테일 페이지용 */
  .detail_root {
    padding-top: 95px;
  }