/* 메인베너 */
.main_banner {
   width: 100%;
   height: auto;
   padding: 0;
   position: relative;
}

.main_banner .slideItem img {width: 100%; object-fit: cover;}

.main_banner .pagination {
   position: absolute;
   bottom: 15px;
   z-index: 2;
   color: #fff;
   width: 200px;
   left: 50%;
   transform: translateX(-50%);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
   gap: 10px;
}

.main_banner .pagination .bullet {
   width: 100%;
   height: 5px;
   background: #555;
   opacity: 0.5;
}

.main_banner .pagination .bullet.active {
   background: var(--main-color1);
   opacity: 1;
}

/* 메인베너 end ------------------------ */

.sec1 {gap: 20px;}

.sec1 .link_box {display: block; width: 100%;}

.sec1 .about_box {
   background: url('/resources/images/main_about_bg.png') no-repeat center center / cover;
   border-radius: 15px;
   padding: 43px 20px 43px 20px;
   box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
}

.sec1 .about_box h4 {
   font-weight: 800;
   font-size: clamp(35px, calc(100VW * 40 / 768), 40px) !important;
   margin-bottom: 25px;
   color: var(--main-color1);
}

.sec1 .about_box .text_box {gap: 15px;}

.sec1 .about_box .text_box p {
   font-size: clamp(13px, calc(100VW * 16 / 768), 16px) !important;
   color: #3f3f3f;
   line-height: 1.4;
   font-weight: 500 !important;
}

.sec1 .link_item {
   border-radius: 15px;
   background: #fff;
   padding: 20px;
   box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
   overflow: hidden;
   position: relative;
   padding-right: 140px;
   /* min(140px, calc(100VW * 140 / 500)); */
}

.sec1 .link_item .text_box h4 {
   font-size: clamp(25px, calc(100VW * 30 / 768), 30px) !important;
   font-weight: 700 !important;
   margin-bottom: 15px;
}

.sec1 .link_item .text_box p {
   font-size: clamp(13px, calc(100VW * 16 / 768), 16px) !important;
   color: #252525 !important;
   line-height: 1.4;
   font-weight: 500 !important;
   margin-bottom: 10px !important;
}

.sec1 .link_item .text_box .arrow_btn {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 1px solid rgba(0,0,0,0.2) !important;
   width: 25px; height: 25px;
}

.sec1 .link_item .deco_box {
   --size : clamp(210px, calc(100VW * 333 / 768), 333px);
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   position: absolute;
   right: -90px;
   padding-left: 35px;
}

.sec1 .link_item .deco_box img {
   position: relative;
   z-index: 2;
   width: clamp(65px, calc(100VW * 124 / 768), 124px);
}

.sec1 .link_item .deco_box::before {
   content:'';
   position: absolute;
   top: 0; left: 0; 
   width: 100%; height: 100%;
   border-radius: inherit;
   z-index: 1;
   opacity: 0.85;
}

.sec1 .pickup .deco_box {
   background:  url('/resources/images/main_pickup_bg.png') no-repeat right center / cover;
}
.sec1 .pickup .deco_box::before { background: var(--main-color1);}

.sec1 .startups .deco_box {
   background:  url('/resources/images/main_startups_bg.png') no-repeat 70% center / cover;
}
.sec1 .startups .deco_box::before { background: #62D9AF;}

@media (max-width: 500px) {
   .sec1 .about_box .text_box p br {display: none;}
   .sec1 .link_item .text_box p br {display: none;}
}



/* 메인 카테고리 */
.category_wrap {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   width: fit-content;
   gap: 12px;
   width: 100%;
   max-width: 768px;
   overflow-x: auto;
   padding: 5px 0;
}

.category_wrap > * {
   flex: unset !important;
}

.category_wrap .ca_item {
   gap: 5px;
   font-size: 11px;
   text-align: center;
   color: #f4f4f4;
   cursor: pointer;
}

.category_wrap .ca_item .ca_thumb {
   width: 100%;
   border-radius: 100%;
   overflow: hidden;
   transition: inherit;
   justify-content: center;
   width: clamp(var(--thumb-size, 66px), calc(100vw * 120 / 768), calc(var(--thumb-size, 66px) * 1.6));
   height: clamp(var(--thumb-size, 66px), calc(100vw * 120 / 768), calc(var(--thumb-size, 66px) * 1.6));
}
/* 메인 카테고리 end --------------------------*/



/* 보조 베너 */
.link_Banner {gap: 5px;}

.link_Banner > a {
   width: 100%; display: block;
   max-width: 768px;
}

.mini_Banner {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 5px 10px;
}

.mini_Banner > a {
   width: 100%; display: block;
   max-width: 310px;
}

.sub_banner {
   justify-content: center;
   max-width: 768px;
}
.sub_banner a {width: 100%;}

.disabled {pointer-events: none;}



/* 보조 베너 end --------------- */




.titleBox {
   margin-bottom: 25px;
}

.titleBox .title {
   display: flex;
   flex-direction: column;
   width: auto;
   gap: 7px;
}

.titleBox .title h2 {
   display: flex;
   align-items: end;
   color: #fff;
   font-size: 20px;
   line-height: 1;
   gap: 5px;
}

.titleBox .title h2 span {
   font-size: 1.36em !important;
}

.titleBox .title p {
   font-size: 14px !important; color: #dfdfdf;
   line-height: 1.2;
}

.titleBox1 .title h2 {
   margin-bottom: 7px;
}

.titleBox1 .title h2 > img {
   transform: rotate(20deg);
   margin-right: 5px;
}

.titleBox3 .title h2 {
   flex-direction: column;
   align-items: start;
}

.titleBox3 .title h2 > * {font-family: inherit !important;}


.linkBtn {
   position: relative;
   color: #fff;
   font-size: 13px;
   font-weight: 400;
   border-radius: 5px;
   transition: all 0.2s;
   padding-bottom: 3px;
}

.linkBtn::after {
   content: '';
   position: absolute;
   bottom: 0; left: 0;
   width: 100%;
   height: 1px;
   background: #fff;
}

.linkBtn:hover {
   color: var(--main-color1);
}


/* 프로덕트슬라이더 */
.ProductSlider {position: relative;}
.ProductSlider .naviBtn {
   position: absolute;
   top: 25%;
   z-index: 100;
   width: 45px; height: 45px;
   border-radius: 50%;
   background: rgba(0,0,0,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: all 0.2s;
}

.ProductSlider .prevBtn {left: -20px;}
.ProductSlider .nextBtn {right: -20px;}
.ProductSlider .nextBtn > img {
   transform: rotate(180deg);
}

.ProductSlider .naviBtn:hover {
   background: #000;
}


.list_more_btn {
   background: var(--main-color1);
   color: #fff;
   font-size: 13px;
   font-weight: 600;
   border-radius: 5px;
   padding: 6px 10px;
   transition: all 0.1s;
}

.link_more_btn {
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--main-color1);
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   border-radius: 5px;
   padding: 13px 5px;
   margin-top: 10px;
   width: 100%;
   max-width: 200px;
   transition: all 0.1s;
}

.link_more_btn:active {
   filter: var(--mob-active-filter);
}