.button {
  padding: 8px 18px;
  background-color: #fff;
  border: 1px solid var(--admin-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: var(--admin-color);
}

.button2 {
  padding: 8px 18px;
  background-color: var(--admin-color);
  border: 1px solid var(--admin-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}
