
.list_table {width: 100%;}

.list_table .table_header {
  background: #323232;
}

.list_table .table_header th {
  padding: 15px 5px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}


.list_table tbody tr {
  border-bottom: 1px solid #5e5e5e;
}

.list_table tbody td {
  padding: 30px 5px;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
}

/* .list_table tbody td p:not(.title) {
  width: fit-content !important;
  background: #333;
  padding: 7px 10px;
  border-radius: 50px;
  background: var(--main-color1);
}

.list_table tbody td .date {background: #333 !important;} */

.list_table tbody td .title,
.list_table tbody td .price {
  font-weight: 600 !important;
}
.list_table tbody td .price_sub {
  font-size: 0.9em;
  width: fit-content !important;
  background: #050505;
  padding: 7px 10px;
  border-radius: 50px;
}

.revoke {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.revoke:hover,
.revoke:focus-visible {
  text-decoration: underline;
  text-underline-offset: 2px;
}