
.header {
   --all_transition: all 0.3s;
   background-color: #F5F5F7;
   position: relative;
   display: flex;
   flex-direction: column;
   position: fixed;
   z-index: 1201;
   width: 100%;
   left: 0;
   top: 0;
   min-width: var(--minWidthDesktop);
   transition: var(--all_transition);
}

.header_wrap {
   padding: 14px 20px;
   box-sizing: border-box;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   transition: var(--all_transition);
}


.logo {width: auto;}
.logo img {width: 150px; transition: var(--all_transition);}

/* 검색모달 버튼 */
.search_modal_btn {
   border: 1px solid #C4C4C4;
   border-radius: 10px;
   width: 100%;
   max-width: 270px;
   padding: 0 0 0 13px;
   transition: var(--all_transition);
   overflow: hidden;
}

.search_modal_btn input {font-size: 13px; min-width: 197px;}

.search_modal_btn .search_icon {
  width: fit-content;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: rgba(240, 240, 240, 0.8);
}

.cart_btn {position: relative;}



/* 하단 메뉴 */
.outerMenu {
   display: flex;
   gap: 30px;
   align-items: center;
}

.outerMenu > li {position: relative;}

.outerMenu > li > a {
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 16px;
   color: #4D4D4D;
   font-weight: 500;
   transition: all 0.2s;
}

.outerMenu > li > .active_line {
   position: absolute; z-index: 1;
   bottom: -6px;
   background: #fff;
   display: block; width: 0;
   height: 3px;
   right: 0;
   transition: all 0.2s;
}

.outerMenu > li:hover > .active_line,
.outerMenu > li.active > .active_line {
   left: 0; right: unset; width: 100%;
}

.outerMenu > li:hover > a,
.outerMenu > li.active > a {
   color: var(--main-color1);
}


/* 상품 페이지 */
.shop_outer > li > a img {
   position: relative; bottom: 3px;
}

/* 커뮤니티 페이지 */
.commu_outer {
   gap: 20px;
}

.commu_outer > li {
   position: relative;
   z-index: 10;
   padding: 15px 0;
}


/* 스크롤되면 클래스 부여 */
header.scroll {
   border-bottom: 1px solid rgba(255,255,255,0.4);
   padding: 10px 0 0;
}
header.scroll .header_wrap {
   margin-bottom: 5px;
   align-items: start !important;
}
header.scroll .logo img {width: 120px;}




@media (max-width: 1300px) {
   .logo img {width: 120px;}
   .outerMenu {gap: 20px;}
   .outerMenu > li > a {font-size: 14px;}

   .search_modal_btn input {min-width: 130px; font-size: 12px;}
}
