/* 카테고리 메뉴 */

/* 카테고리 내용 */
.overlay {
    position: absolute;
    height: auto;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: #F4F4F4;
    transition: all 0.2s;
    height: fit-content;
    max-height: 460px;
    top: 100%;
    width: auto;
}

.overlay.isOverlayVisible {
    opacity: 1;
    visibility: visible;
    /* border: 1px solid #EEEEEE; */
    transition: all 0.2s;
}

.overlay .ca_wrap {
   height: 100%;
   align-items: stretch !important;
   justify-content: start !important;
}

.ca_wrap .ca_box {
    width: 130px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.ca_wrap .ca_box .tab_item {
    cursor: pointer;
    font-size: 14px;
}

.ca_wrap .ca_box .tab_item a {
    padding: 14px 10px;
    width: 100%;
    display: block;
}

/* 대분류 */
.ca_wrap .ca_tab1 .tab_item {
    color: #fff;
    background: #262626;
}

.ca_wrap .ca_tab1 .tab_item:hover {
   color: var(--main-color1);
   background: #fff !important;
   font-weight: 600;
}



/* 하위 카테고리 공용 */

.ca_wrap .child_wrap {
    position: relative;
    width: fit-content !important;
}

.ca_wrap .ca_child {
    width: auto;
    min-width: 130px;
    flex-direction: column;
    flex: unset;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    align-items: start !important;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none; 
}

.ca_wrap .ca_child .child_item {
    cursor: pointer;
    width: 100%;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.1s;
}
.ca_wrap .ca_child .child_item a {
    padding: 10px 10px 10px 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.ca_wrap .ca_child .child_item:hover {
    background: var(--main-color1);
    color: #fff;
}

.ca_wrap .ca_child .child_item:hover img {
    filter: brightness(10);
}

.ca_wrap .ca_child.active {
    display: block;
}