.chat_modal {
   border-radius: 10px;
   background: #fff;
   width: 470px;
   min-height: 585px;
   position: absolute;
   bottom: 80px;
   right: 0;
   padding: 25px 15px 10px;
}


.chat_modal .title_header {
   padding-bottom: 15px;
   border-bottom: 1px solid #000;
   justify-content: space-between;
   margin-bottom: 20px;
}

.chat_modal .title_header p {
   color: #333 !important;
   font-size: 25px !important;
   font-weight: bold !important;
}

.chat_modal .title_header img {
   filter: brightness(0);
}

.chat_body {
   width: 100%;
   /* height: 460px; */
   /* overflow-y: auto; */
   gap: 25px;
}

.scroll_body {
   overflow-y: auto;
   height: 450px;
   align-items: start !important;
   padding: 0 0 20px;
}

.chat_body .bubble_wrap {
   align-items: end !important;
   gap: 5px;
}

.chat_body .admin_chat .chat_bubble {
   background: var(--main-color1);
}


.chat_body .chat_bubble {
   border-radius: 10px;
   padding: 15px;
   width: 262px;
}

.chat_body .chat_bubble p {
   color: #fff !important;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.4;
}

.chat_body .date {width: auto; color: #969696; font-size: 11px;}

/* 유저챗 스타일 */
.chat_body .user_chat .chat_bubble {
   background: #272727;
}
.chat_body .user_chat {justify-content: end;}
.chat_body .user_chat .chat_bubble {order: 2;}
.chat_body .user_chat .date {order: 1}



.chat_modal .write_board {gap: 5px;}
.chat_modal .write_board > * {width: auto;}
.chat_modal .write_board .chat_input {width: 100%; flex: 1;}

.chat_modal .write_board .chat_input input {
   padding: 10px 12px;
}

.chat_modal .write_board .chat_btn {
   width: 80px; padding: 9px 5px;
   background: #050505;
   color: #fff;
   font-size: 18px;
   font-weight: 600;
}

.chat_modal .write_board .chat_btn:active {
   background: #222;
}



/* isMobile 처리 반응형 */

.mob_chat_modal {
   border-radius: 10px 10px 0 0;
   background: #fff;
   width: 100%;
   height: 90dvh;
   min-height: unset;
   position: fixed;
   bottom: 0px;
   left: 50%;
   transform: translateX(-50%);
   padding: 20px 15px 10px;
   /* overflow-y: auto; */
   z-index: 10000;
   /* opacity: 0;
   visibility: hidden;
   transition: all 0.5s 10s; */
}

.mob_chat_modal .title_header {
   padding-bottom: 15px;
   border-bottom: 1px solid #000;
   justify-content: space-between;
   margin-bottom: 16px;
}

.mob_chat_modal .title_header p {
   color: #333 !important;
   font-size: 20px !important;
   font-weight: bold !important;
}

.mob_chat_modal .scroll_body {
   overflow-y: auto;
   height: 77%;
}

.mob_chat_modal .chat_body {
   width: 100%;
   height: 100%;
   /* overflow-y: auto; */
   gap: 25px;
   /* background: #ccc; */
}

.mob_chat_modal .write_board {
   position: absolute; bottom: 0;
   width: 95%; background: #fff;
   padding: 10px 5px;
}


/* .modal_active {
   opacity: 1;
   visibility: visible;
   bottom: 0;
   transition: all 0.5s 1s;
} */

/* 모달 뒷배경 */
.background_close {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.7);
}