
.event_titleBox {
   text-align: center;
   width: auto;
}


/* 이벤트 탭 */

.tab_wrapper {
   width: 100%;
   padding: 0 0 10px;
   display: flex;
   flex-direction: column;
}

.select_box {
   margin-bottom: 30px;
   position: relative;
}

.select_box select {
   width: 100%;
   padding: 10px 15px;
   background: #111;
   border: 1px solid #4c4c4c;
   border-radius: 5px;
   color: #fff;
   font-size: 16px;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.select_box select:focus-visible {outline: none;}

.select_box img {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 15px;
}

/* .event_tab {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin-bottom: 35px;
}

.event_tab .tab_btn {
   padding-bottom: 5px;
   color: #595959;
   font-size: 14px;
   font-weight: 600;
   justify-content: center;
   cursor: pointer;
}

.event_tab .tab_btn.active {
   border-color: var(--main-color1);
   background: #050505;
   color: #fff;
} */

.gallery_item {
   padding-bottom: 25px;
}

.gallery_item .thumb_frame {
   position: relative;
   width: 100%;
   /* max-width: 250px; */
}

.gallery_item .thumb_frame img {
   position: relative;
   z-index: 1;
}

.gallery_item .thumb_frame img.durationEnd_img {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
}

.gallery_item .item_content {
   text-align: center; gap: 15px !important;
}

.gallery_item .item_content > * {width: auto;}

.gallery_item .item_content .title {
   color: #fff;
   font-weight: 700;
   font-size: 20px;
}

.gallery_item .item_content .subTitle {
   color: #ADADAD;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 10px;
}

.gallery_item .item_content .duration {
   color: #ddd;
   font-size: 14px;
   gap: 5px !important;
}


@media (max-width: 580px) {
   .gallery_item .thumb_frame {width: 86%;}
}

